html, body {margin:0; padding:0; height:100%; background: #dddddd; }
.body {min-height:100%; position:relative; }
#container {padding-bottom:300px !important;}
footer {position:absolute; bottom:0; width:100%; height:auto;}

h1, h2, h3, h4, h5, h6, p, pre, ul, ol {
    list-style: none;
}

#line-header {
    height: 20px;
    margin-bottom: 20px;
    background-color: #373435;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #f9686d;
}

ul, li {
    margin: 0;
}

.top-bar-section ul li.active > a {
    background: #272727;
    background-color: #373435;

    border-top: 3px solid #ed3237;
    margin-top: -3px;
    color: #fff;
}

header {
    background-color: #dddddd;
}

section#slide {
    background-color: #dddddd;
    padding-top: 20px;
}

section#container {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #dddddd;
}

section#nav {
    background-color: #ed3237;
    -moz-box-shadow: 10px 10px 5px #000000;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.login {
    margin: 0 0 -10px -22px !important;
}

.login li {
    width: 111px;
    margin-left: 8px !important;
}

.login li:first-child {
    margin-left: 20px !important;
}

.login li:last-child {
    width: auto;
}

#check, #forgot {
    color: #272727;
    font-size: 12px;
}

.login input {
    height: 31px;
}

.btnblack {
    background: #393e40;
    padding: 9px 14px 6px !important;
}

.btnblack:hover {
    background: #676c6e;
}

.btn-list {
    margin: 0;
    margin-right: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.btn-list > li {
    list-style: none;
    float: left;
    width: auto;
}

#btn-actions li a {
    color: white;
    font-weight: bold;
    float: left;
}

#btn-actions li a i {
    background: url(../img/icon-action.png) center no-repeat;
    text-indent: -9999em;
    width: 30px;
    float: left;
    height: 26px;
}

#btn-actions li a:hover {
    opacity: .8;
}

#btn-actions li {
    color: white;
    font-weight: bold;
    float: left;
}

#btn-actions li i {
    background: url(../img/icon-action.png) center no-repeat;
    text-indent: -9999em;
    width: 30px;
    float: left;
    height: 26px;
}

#btn-actions i#view {
    background-position: 0px 0;
}

#btn-actions i#sucess {
    background-position: -125px 0;
}

#btn-actions i#fail {
    background-position: -157px 0;
}

#btn-actions i#edit {
    background-position: -31px 0;
}

#btn-actions i#remove {
    background-position: -62px 0;
}

#btn-actions i#addsms {
    background-position: -94px 0;
}

span.sms-disponivel {
    color: #000000;
}

p#counter {
    font-size: 11px;
}

.search .lupa {
    background: url("../img/lupa.png") center no-repeat;
    border: none;
    width: 10px;
    height: 25px;
    display: block;
    position: absolute;
    top: 4%;
    right: 3%;
}

#view-modal p {
    font-size: 14px;
    margin-bottom: 7px;
}

#view-modal strong {
    margin-right: 10px;
}

#view-modal .button {
    margin: 0
}

#api .panel {
    margin: 0;
    padding: 20px 15px;
    background: white;
}

#api .btnblack {
    background: #393e40;
    padding: 13px 30px 13px !important;
    margin: 0
}

#api p {
    font-size: 15px;
    margin-bottom: 1px;
    margin-top: 11px;
}

section#menu-list {
    margin: 50px 0;
}

.table-list table {
    margin: 0
}

.table-list table th.nome {
    width: 100px;
}

.table-list table th.tel {
    width: 100px;
}

.table-list table th.email {
    width: 100px;
}

.table-list table th.acoes {
    width: 50px;
}

.table-list table td.nome {
    width: 134px;
}

.table-list table td.tel {
    width: 100px;
}

.table-list table td.email {
    width: 100px;
}

.table-list table td.acoes {
    width: 70px;
}

#soluctions {
    margin-bottom: 0px;
    background: white;
    padding-top: 40px;
    border-bottom: 3px solid #dddddd;
}

#soluctions .thead {
    color: #989898;
    text-align: center;
    margin-bottom: 40px;
}

#soluctions .thead h3 {
    line-height: 24px;
    background-color: white;
    display: inline-block;
    padding: 0 20px;
}

#soluctions .thead .line {
    display: block;
    background-color: #c6c6c6;
    width: 100%;
    height: 1px;
    margin-top: -22px;
    margin-bottom: 30px;
}

#soluctions .thead .lead {
    line-height: 18px;
    font-size: 16px;
}

#soluctions .item {
    margin-bottom: 10px;
    height: 130px;
}

#soluctions .item .title h5 a {
    color: #ed3237;
    font-weight: 400;
}

#soluctions .item .title p {
    color: #444444;
    font-size: 13px;
}

#soluctions .panel {
}

#soluctions .panel h3 {
    font-weight: 400;
    color: gray;
    margin-top: 0;
    color: #989898;
}

#soluctions .panel p {
    margin-bottom: 0px;
    font-size: 12px;
    color: #989898;
}

#soluctions .panel .btnblack {
    background: #1F9B2E;
    padding: 10px 14px 15px !important;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400 !important;
}

#testimonials {
    background: white;
    padding-top: 10px;
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px 46px;
    border-left: 5px solid #eeeeee;
}

footer {
    background-color: #373435;
}

#footer {
    color: #989898;
    border-top: 5px solid #ed3237;
    border-bottom: 1px solid #4b494a;
    margin-bottom: 10px;
    padding-top: 30px;
}

#footer h4 {
    font-size: 19px;
    color: #989898;
    font-weight: 500;
}

#footer p {
    font-size: 12px;
    margin-bottom: 5px;
}

.tl-item {
    min-height: 60px;
    margin-bottom: 10px;
}

span.tl-user {
    float: left;
    margin-right: 10px;
}

span.tl-til {
    font-size: 11px;
}

.btn-divider {
    padding: 8px 0;
    margin-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.btn-facebook {
    color: #ffffff;
    text-indent: 20px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #45629e;
    background-image: -moz-linear-gradient(top, #4f6ca5, #2d4783);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4f6ca5), to(#2d4783));
    background-image: -webkit-linear-gradient(top, #4f6ca5, #2d4783);
    background-image: -o-linear-gradient(top, #4f6ca5, #2d4783);
    background-image: linear-gradient(to bottom, #4f6ca5, #2d4783);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f6ca5', endColorstr='#ff2d4783', GradientType=0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 1px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 1px 0px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 1px 0px rgba(255, 255, 255, 0.2);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 1px 0px rgba(255, 255, 255, 0.2);
    *background-color: #4f6ca5; /*Darken IE7 buttons*/
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: none;
    margin-top: 15px;
}

.btn-facebook:hover, .btn-facebook:active, .btn-facebook.active, .btn-facebook.disabled, .btn-facebook[disabled] {
    color: #ffffff;
    background-color: #2b4581;
    *background-color: #2b4581;
}

.contact address {
    font-size: 13px;
    line-height: 1.6;
}

ul.nav {
    float: left;
    margin: 0;
    background: #ed3237;
    position: relative;
    left: 0;
    display: block;
}

ul.nav > li {
    float: left;
}

ul.nav > li {
    margin: 0 18px;
    line-height: 20px;
}

ul.nav > li > a {
    padding: 5px 15px;
}

ul.nav > li > a {
    float: none;
    padding: 0px 10px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

ul.nav > li > a {
    display: block;
}

section#products {
    margin-top: 30px;
}

.title h3 {
    line-height: 18px;
    margin-top: 50px;
    font-weight: 400;
}

.thead {
    background-color: #FFF;
    padding: 40px 40px 0 40px;
}

.tbody {
    background-color: #f8f8f8;
    padding: 40px 40px 0 40px;
    border-bottom: 1px solid #c6c6c6;
}

.tbody p {
    font-size: 12px;
}

.tbody ul {
    list-style: disc;
    font-size: 12px;
}

.side-nav li a {
    display: block;
    color: #000;
}

.side-nav li a:hover {
    display: block;
    color: #f9686d;
}

.info h6 {
    font-size: 15px;
    font-weight: 500;
}

.info p {
    margin-bottom: 5px;
    font-size: 14px;
}

.info span {
    color: #ed3237;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
}

.titleheader {
    background: white;
    padding: 4px 10px;
    border-bottom: 3px solid red;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 25px;
}

.planobox {
    background: white;
    padding: 7px;
    text-align: center;
}

.planobox img {
    display: block;
}

.planobox h4 {
    color: black;
}

.planobox h6 {
    color: black;
}

.planobox h6 span {
    color: red;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
}

hr.linha {
    border: 1px solid #D1D1D1;
    clear: both;
    margin: 1.25rem 0 1.1875rem;
    height: 0;
}

#bg-art {
    background: white;
    padding: 10px 20px;
}

ul.pagination li {
    background: white;
    height: 22px;
    border: 1px solid #ebebeb;
}

ul.pagination li a {
    padding: 2px 8px 0px;
    font-weight: bold;
    font-size: 12px;
    font-family: arial;
}

ul.pagination li:hover a, ul.pagination li a:focus {
    background: #EEEEEE;
}

ul.list-news {
    margin: 0;
}

ul.list-news li {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
}

ul.list-news li.item-news h4 {
    color: #ed3237;
    font-size: 18px;
}

ul.list-news li.item-news p {
    color: #666666;
    font-size: 13px;
}

ul.list-comments {
    margin: 0;
}

ul.list-comments li {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
}

ul.list-comments li.item-comments h4 {
    color: #ed3237;
    font-size: 18px;
}

ul.list-comments li.item-comments p {
    color: #666666;
    font-size: 13px;
}

ul.list-comments li.item-comments p.date {
    color: #666666;
    font-size: 13px;
}

ul.last-news li {
    border-top: 1px solid gray;
}

ul.last-news li:first-child {
    border: none;
}

ul.last-news li a h5 {
    color: #ed3237;
    font-size: 18px;
}

ul.last-news li a p {
    color: #666666;
    font-size: 13px;
}

ul.last-news li a:hover h5 {
    color: #666666;
    font-size: 18px;
}

#articleTitle h3 {
    color: #ed3237;
    font-size: 28px;
}

#article_recommend {
    display: block;
    height: 40px;
}

#articleimg {
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 20px;
    color: #444;
    margin: -10px 0 15px 0;
    line-height: 1.2;
}

.fonte p {
    color: gray;
    font-size: 12px;
}

.articleTexto p {
    font-size: 13px;
}

.fotodestaque {
    margin: 10px 15px 5px 0;
    zoom: 1;
    overflow: hidden;
    float: left;
}

.fotodestaque img {
    display: block;
    width: 100%;
}

fieldset {
    border: solid 1px #ddd;
    padding: 1.25rem;
    margin: 1.125rem 0;
    background: whitesmoke;
}

fieldset legend {
    background: whitesmoke;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    margin-left: 0;
    position: relative;
    top: -18px;
    border: solid 1px #ddd;
    left: -21px;
    width: 208px;
}

[class^="ico-"], [class*=" ico-"] {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
}

.ico-saude {
    background-position: 0 0;
}

.ico-education {
    background-position: -30px 0;
}

.ico-entertainment {
    background-position: -60px 0;
}

.ico-retail {
    background-position: -90px 0;
}

.ico-government {
    background-position: -120px 0;
}

.ico-sms {
    background-position: -150px 0;
}

.ico-financial {
    background-position: -180px 0;
}

/* large-ico :begin */
.ico-large {
    width: 82px;
    height: 82px;
}

.ico-saude.ico-large {
    background-position: 0 -88px;
}

.ico-education.ico-large {
    background-position: -90px -88px;
}

.ico-entertainment.ico-large {
    background-position: -180px -88px;
}

.ico-retail.ico-large {
    background-position: -270px -88px;
}

.ico-government.ico-large {
    background-position: 0 -178px;
}

.ico-sms.ico-large {
    background-position: -90px -178px;
}

.ico-financial.ico-large {
    background-position: -180px -178px;
}

.ico-cell {
    background-position: 0 -270px;
    width: 213px;
    height: 134px;
}

.ico-goto {
    background-position: 0 -40px;
    width: 36px;
    height: 36px;
}

.ico-aspas {
    background-position: -38px -39px;
    width: 50px;
    height: 42px;
    position: relative;
    top: -14px;
}

.ico-facebook {
    background-position: -131px -40px;
    width: 8px;
    height: 18px;
    position: absolute;
    left: 24px;
}

.ico-subscribe {
    background-position: -147px -40px;
    width: 32px;
    height: 31px;
}

.top-bar-section ul li.cadastre > a {
    background: #373435;
    color: #fff;
}

.top-bar-section ul li.cadastre:hover > a {
    background: #676c6e;
    border-top: 3px solid #ed3237;
    margin-top: -3px;
    color: #ffffff;
}


/* page > howitworks :begin */
.ico-cadastre {
    background-position: 0 -414px;
    width: 140px;
    height: 120px;
}

.ico-mensagem {
    background-position: -140px -414px;
    width: 140px;
    height: 120px;
}

.ico-sent-mensagem {
    background-position: -280px -414px;
    width: 140px;
    height: 120px;
}

.ico-result {
    background-position: -420px -414px;
    width: 140px;
    height: 120px;
}

.bg-panel {
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #ffffff;
}

.endless_loading img {
    height: 25px;
    width: 25px;
}

input.error {
    border: 1px solid red;
}

span.error, small.error {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: 0px;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    font-weight: normal;
    font-style: italic;
    background: #f04124;
    color: #fff;
}

.bg-panel h4 a {
    color: #f9686d;
}

.bg-panel h4 a:hover {
    color: #ed3237;
}