
html, body {margin:0; padding:0; height:100%; } 
.body {min-height:100%; position:relative; }
#container {padding-bottom:300px !important;} 
footer {position:absolute; bottom:0; width:100%; height:auto;}

h1, h2, h3, h4, h5, h6, p, pre, ul, ol {list-style:none;}

#line-header{height: 10px; background-color: #808284; }

a {color: #00447b; text-decoration: none; }
a:hover {color: #f9686d;}

ul,li{margin: 0;}

section#nav{background-color: #00447b; -moz-box-shadow:10px 10px 5px #000000; -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.6); box-shadow:0 1px 4px rgba(0, 0, 0, 0.6); }

header{ background-color:#fff;}
section#slide{background-color: #fff;}

section#container{padding-top: 20px;padding-bottom: 20px; position: relative; background: #fff;}

.list-header{padding: 21px 0;}
.list-header .button{margin-bottom: 0;}
header .inline-list{margin-bottom: 0;}
.logo{ margin:0; padding:21px 0; line-height:0;}
.login {margin: 0 0 5px -22px!important;}
.login input {margin-bottom: 0;}
.login .button{margin-bottom: 0}

.forgott {margin: 0 0 0px -22px!important;}
.forgott input {margin-bottom: 0;}
.forgott label{margin-bottom: 0}

.login li {width: 111px; margin-left: 8px !important; }
.login li:first-child {margin-left:20px !important; }
.login li:last-child {width: auto; }
#check, #forgot{color: #272727; font-size: 12px;}

.login input{height: 31px;}

.btnblack{background: #00447b;padding: 9px 14px 6px !important; }
.btnblack:hover{background: #676c6e; }

.btn-list {margin: 0; margin-right: 0; padding: 0; list-style: none; overflow: hidden; }
.btn-list>li {list-style: none; float: left; width: auto; }

#btn-actions li a{color: white; font-weight: bold; float: left;}
#btn-actions li a i{background: url(../img/icon-action.png) no-repeat 0 0; text-indent: -9999em; width: 28px; float: left; height: 26px; margin-right: 10px; }
#btn-actions li a:hover { opacity: .8; }
#btn-actions li {color: white; font-weight: bold; float: left;}
#btn-actions li i{background: url(../img/icon-action.png) no-repeat 0 0; text-indent: -9999em; width: 28px; float: left; height: 26px; margin-right: 10px; }
#btn-actions li:hover { opacity: .8; }
#btn-actions i#view { background-position: 0px 0; }
#btn-actions i#edit { background-position: -32px 0; }
#btn-actions i#remove { background-position: -63px 0; }
#btn-actions i#fail { background-position: -160px 0; }
#btn-actions i#success { background-position: -128px 0; }
#btn-actions i#pendent { background-position: -191px 0; }

p#counter{font-size: 11px;}

.search .lupa{background: url("../img/lupa.png") center no-repeat; border: none; width: 10px; height: 25px; display: block; position: absolute; top: 4%; right: 3%;}

#view-modal p{font-size: 14px;margin-bottom: 7px;}
#view-modal strong{margin-right: 10px;}
#view-modal .button{margin: 0}

#api .panel{margin: 0; padding: 20px 15px;background: white;}
#api .btnblack{background: #393e40;padding: 13px 30px 13px !important; margin: 0 }
#api p{font-size: 15px;margin-bottom: 1px;margin-top: 11px;}

section#menu-list{margin: 50px 0;}
.table-list table{margin: 0}

.table-list table th.nome{width: 100px;}
.table-list table th.tel{width: 100px;}
.table-list table th.email{width: 100px;}
.table-list table th.acoes{width: 50px;}

.table-list table td.nome{width: 134px;}
.table-list table td.tel{width: 100px;}
.table-list table td.email{width: 100px;}
.table-list table td.acoes{width: 70px;}

#soluctions { margin-bottom: 0px; background: white; border-bottom: 3px solid #dddddd; padding-top: 0;}
#soluctions .thead {color: #989898; text-align: center; margin-bottom: 0px; }
#soluctions .thead h3 {line-height: 24px; background-color: white; display: inline-block; padding: 0 20px; }
#soluctions .thead .line {display: block; background-color: #c6c6c6; width: 100%; height: 1px; margin-top: -22px; margin-bottom: 30px; }
#soluctions .thead .lead {line-height: 18px; font-size: 16px; }

#soluctions .item{margin-bottom: 10px;height: 130px;}
#soluctions .item .title h5 a{color: #00447b;font-weight: 400;}
#soluctions .item .title p{color: #444444;font-size: 13px;}

#soluctions .panel {}
#soluctions .panel h3 {font-weight: 400; color: gray; margin-top: 0; color:#989898; }
#soluctions .panel p{margin-bottom: 0px;font-size: 12px; color: #989898;}
#soluctions .panel .btnblack{background: #1F9B2E;padding: 10px 14px 15px !important;margin-bottom: 0;font-size: 15px;font-weight: 400 !important;}

#testimonials { background: white; padding-top: 10px;}

blockquote {padding: 0 0 0 15px; margin: 0 0 20px 46px; border-left: 5px solid #eeeeee; }

footer {background-color: #808284; }
#footer {color: #989898; border-top: 5px solid #00447b; border-bottom: 1px solid #4b494a; margin-bottom: 10px; padding-top: 30px; }

#footer h4{font-size: 19px; color: #fff; font-weight: 500;}
#footer p{font-size: 12px;margin-bottom: 5px;color: #fff;}

.tl-item{min-height: 60px;margin-bottom: 10px;}

span.tl-user{float: left; margin-right: 10px; }
span.tl-til{font-size: 11px;}

.btn-divider {padding: 8px 0; margin-right: 10px; border-right: 1px solid rgba(255,255,255,0.12); border-left: 1px solid rgba(0,0,0,0.15); }
.btn-facebook {color: #ffffff; text-indent: 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.25); background-color: #45629e; background-image: -moz-linear-gradient(top, #4f6ca5, #2d4783); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4f6ca5), to(#2d4783)); background-image: -webkit-linear-gradient(top,  #4f6ca5, #2d4783); background-image: -o-linear-gradient(top,  #4f6ca5, #2d4783); background-image: linear-gradient(to bottom,  #4f6ca5, #2d4783); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f6ca5', endColorstr='#ff2d4783', GradientType=0); box-shadow: 0 1px 2px rgba(0,0,0,0.4), inset 0 1px 0px rgba(255,255,255,0.2); -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4), inset 0 1px 0px rgba(255,255,255,0.2); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4), inset 0 1px 0px rgba(255,255,255,0.2); -o-box-shadow: 0 1px 2px rgba(0,0,0,0.4), inset 0 1px 0px rgba(255,255,255,0.2); *background-color: #4f6ca5; /*Darken IE7 buttons*/ filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); border: none; margin-top: 15px; } 
.btn-facebook:hover, .btn-facebook:active, .btn-facebook.active, .btn-facebook.disabled, .btn-facebook[disabled] {color: #ffffff; background-color: #2b4581; *background-color: #2b4581; }

.contact address{font-size: 13px; line-height: 1.6; color: #fff;}

ul.nav {
float: left;
margin: 0;
background: #00447b;
position: relative;
left: 0;
display: block;
}

ul.nav>li {
float: left;
}

ul.nav > li {
margin: 0 18px;
line-height: 20px;
}

 ul.nav > li > a {
padding: 5px 15px;
}
ul.nav>li>a {
float: none;
padding: 0px 10px;
color: #777777;
text-decoration: none;
text-shadow: 0 1px 0 #ffffff;
}
ul.nav>li>a {
display: block;
}

section#products{margin-top: 30px;}

.title h3 {line-height: 18px;margin-top: 50px;font-weight: 400;}

.tbody .title h3 {line-height: 18px;margin-top: 0px;font-weight: 400;}


.thead {
background-color: #FFF;
padding: 40px 0;
}
.tbody {
background-color: #f8f8f8;
padding: 40px 40px 0 40px;
border-bottom: 1px solid #c6c6c6;
}

.tbody p{font-size: 12px;}

.tbody ul{list-style: disc; font-size: 12px;}

.side-nav li a {
display: block;
color: #000;
}

.side-nav li a:hover {
display: block;
color: #00447b;
}

.info h6{font-size: 15px;font-weight: 500;}
.info p{margin-bottom: 5px;font-size: 14px;}
.info span{color: #00447b;padding: 5px;font-size: 15px;font-weight: 600;}

.titleheader{background: white;
padding: 4px 0;
border-bottom: 3px solid #00447b;
font-size: 17px;
font-weight: 400;
margin-bottom: 25px;}

.planobox{background: white; padding: 7px; text-align: center;}
.planobox img{display: block;}
.planobox h4{color: black;}
.planobox h6{color: black;}
.planobox h6 span{color: #00447b; font-size: 16px; font-weight: 500; margin-right: 5px;}

hr.linha{border: 1px solid #D1D1D1;
clear: both;
margin: 1.25rem 0 1.1875rem;
height: 0;}

#bg-art{background: white; padding: 10px 20px;}

ul.pagination li {background: white; height: 22px; border: 1px solid #ebebeb; }
ul.pagination li a {padding: 2px 8px 0px; font-weight: bold; font-size: 12px; font-family: arial; }
ul.pagination li:hover a, ul.pagination li a:focus {background: #EEEEEE; }

ul.list-news{margin: 0;}
ul.list-news li{background-color: white; padding: 10px 20px; margin-bottom: 20px;}
ul.list-news li.item-news h4{color:#ed3237;font-size:18px;}
ul.list-news li.item-news p{color: #666666;font-size: 13px;}

ul.list-comments{margin: 0;}
ul.list-comments li{background-color: white; padding: 10px 20px; margin-bottom: 20px;}
ul.list-comments li.item-comments h4{color:#ed3237;font-size:18px;}
ul.list-comments li.item-comments p{color: #666666;font-size: 13px;}
ul.list-comments li.item-comments p.date{color: #666666;font-size: 13px;}

ul.last-news li{border-top: 1px solid gray;}
ul.last-news li:first-child{border: none;}
ul.last-news li a h5{color:#ed3237;font-size:18px;}
ul.last-news li a p{color: #666666;font-size: 13px;}

ul.last-news li a:hover h5{color:#666666;font-size:18px;}

#articleTitle h3{color: #ed3237;font-size: 28px;}
#article_recommend {display: block; height: 40px;}
#articleimg {margin-bottom: 10px;}
.subtitulo {font-size: 20px; color: #444; margin: -10px 0 15px 0; line-height: 1.2; }
.fonte p {color: gray; font-size: 12px; }

.articleTexto p{font-size: 13px;}

.fotodestaque{margin: 10px 15px 5px 0;zoom: 1;overflow: hidden;float: left;}
.fotodestaque img{display: block;width: 100%;}

fieldset {
border: solid 1px #ddd;
padding: 1.25rem;
margin: 1.125rem 0;
background: whitesmoke;
}

fieldset legend {
font-weight: bold;
padding: 10px;
margin: 0;
color: #00447b;
margin-left: 0;
border: solid 1px #ddd;
width: 208px;
}

.lengenda-icone ul li {
    color: #000000 !important;
    margin-right: 10px !important;
}

.lengenda-icone ul li i {
    margin-right: 5px !important;
}

[class^="ico-"], [class*=" ico-"] {display: inline-block; width: 31px; height: 31px; background-image: url('../img/sprite.png'); background-repeat: no-repeat; }
.ico-saude
{ background-position: 0 0; }
.ico-education
{ background-position: -30px 0; }
.ico-entertainment
{ background-position: -60px 0; }
.ico-retail
{ background-position: -90px 0; }
.ico-government
{ background-position: -120px 0; }
.ico-sms
{ background-position: -151px 0; }
.ico-financial
{ background-position: -181px 0; }

/* large-ico :begin */
.ico-large {width: 82px; height: 82px; }

.ico-saude.ico-large
{ background-position: 0 -88px; }
.ico-education.ico-large
{ background-position: -90px -88px; }
.ico-entertainment.ico-large
{ background-position: -180px -88px; }
.ico-retail.ico-large
{ background-position: -270px -88px; }
.ico-government.ico-large
{ background-position: 0 -178px; }
.ico-sms.ico-large
{ background-position: -90px -178px; }
.ico-financial.ico-large
{ background-position: -180px -178px; }

.ico-cell
{ background-position: 0 -270px; width: 213px; height: 134px;}
.ico-goto
{ background-position: 0 -40px; width: 36px; height: 36px; }
.ico-aspas
{ background-position: -38px -39px; width: 52px; height: 42px; position: relative; top: -14px; }
.ico-facebook
{ background-position: -131px -40px; width: 8px; height: 18px; position: absolute; left: 24px; }
.ico-subscribe
{ background-position: -147px -40px; width: 32px; height: 31px; }

/* page > howitworks :begin */
.ico-cadastre
{ background-position: 0 -414px; width: 140px; height: 120px; }
.ico-mensagem
{ background-position: -140px -414px; width: 140px; height: 120px; }
.ico-sent-mensagem
{ background-position: -280px -414px; width: 140px; height: 120px; }
.ico-result
{ background-position: -420px -414px; width: 140px; height: 120px; }

.bg-panel {
border-style: solid;
border-width: 1px;
border-color: #d9d9d9;
margin-bottom: 1.25rem;
padding: 1.25rem;
background: #ffffff;
}

.passo-passo p {
    font-size: 15px;
}
.endless_loading img {
   height: 30px;
   width: 30px;
}
 .footer {
     background: #7f7f7f;
     padding: 0;
 }
 footer .line {
     height: 3px;
     background: #d51b28;
 }
 .copyright {
    background: #5a5a5a;
 }
 .copyright p {
     color: #fff;
     font-weight: bold;
     font-size: 11px;
     margin-bottom: 0;
     padding: 10px 0;
 }
 ul.menu-footer {
     margin: 0;
     padding: 23px 0;
     list-style: none;
     overflow: hidden;
     text-align: right;
     ;
 }
 ul.menu-footer li a {
     color: #fff;
     font-size: 14px;
     -webkit-transition: color 0.1s linear;
     -moz-transition: color 0.1s linear;
     transition: color 0.1s linear;
     -ms-transition: color 0.1s linear;
     vertical-align: middle;
     font-weight: bold;
     ;
 }
 ul.menu-footer li a.active, ul.menu-footer li a:hover {
     color: #00447b;
 }
 ul.menu-footer li {
     display: inline-block;
     width: auto;
     margin: 0 10px;
 }
 ul.menu-footer li:first-child {
     margin-left: 0px;
 }
 ul.menu-footer li:last-child {
     margin-right: 0px;
 }
 ul.menu-footer li a {
     text-decoration: none !important;
 }
.box-como{text-align: center;}
.box-como h4{color: #ed3237}
.box-como p{font-size: 14px;}

@media only screen and (min-width: 40.063em) { .top-bar { background: #00447b; } 
.top-bar-section li a:not(.button) { background: #00447b; }
.top-bar-section li a:not(.button):hover { border-top: 3px solid #00447b; background-color: #fff; color: #00447b; }}
.top-bar-section ul li.active>a { background-color: #fff; color: #00447b;}
.top-bar-section ul li.active>a:hover { border-top: 3px solid #00447b; background-color: #fff; color: #00447b; }
.login .login li { width:111px; margin-left:8px !important; }