{% extends 'componentes/base.html' %}
{% load selectable_tags %}
{% include_jquery_libs %}
{% block extracss %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css"
          type="text/css">
    <link href="{{ STATIC_URL }}selectable/css/dj.selectable.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}
{% block extrajs %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}selectable/js/jquery.dj.selectable.js"></script>
{% endblock %}
{% block content %}
    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
                            <a href="{% url 'apps.mensagem.views.mostrar_colaborador' %}">Colaborares</a>
                            <a class="current" href="{{ request.path }}">Adicionar Colaborador</a>
                        </nav>
                    </div>
                </div>
                {% include 'componentes/mensagem-confirmacao.html' %}
                <div class="bg-panel">
                    <h4 class="titleheader">Adicionar colaborador</h4>
                    <div class="row">
                        <div class="large-6  medium-6 columns">
                            <form method="POST" action="{% url 'apps.mensagem.views.adicionar_colaborador' %}">
                                {% csrf_token %}
                                <input value="{{ request.user.id }}" type="hidden" name="socio"/>
                                <label {% if form.colaborador.errors %} class="error" {% endif %}>Email*:</label>
                                <input data-selectable-allow-new="false" data-selectable-type="text"
                                       data-selectable-url="/selectable/mensagem-usuarioslookup/" id="id_colaborador_0"
                                       name="colaborador_0" type="email"
                                       class="{% if form.colaborador.errors %} error {% endif %} ui-autocomplete-input ui-widget ui-widget-content ui-corner-all"
                                       placeholder="exemplo@exemplo.com" autocomplete="off">
                                <label {% if form.descricao.errors %} class="error" {% endif %}>Descrição:</label>
                                <input id="id_descricao" name="descricao" type="text"
                                       clas s="{% if form.descricao.errors %} error {% endif %} ui-autocomplete-input ui-widget ui-widget-content ui-corner-all"
                                       placeholder="Gerente de Setor" autocomplete="off">
                                {% if form.non_field_errors %}
                                <small class="error">{{ form.non_field_errors.as_text }}</small>
                                {% endif %}
                                <input data-selectable-type="hidden" id="id_colaborador_1" name="colaborador_1"
                                       type="hidden">
                                <label {% if form.limite.errors %} class="error" {% endif %}>Limite de SMS*:</label>
                                <input type="text" name="limite" placeholder="99" {% if form.limite.errors %} class="error" {% endif %}/>
                                {% if form.limite.errors %}
                                    <small class="error">{{ form.limite.errors.as_text }}</small>{% endif %}
                                <div class="btnadd">
                                    <ul class="button-group">
                                        <li>
                                            <button type="submit" class="button success small">Salvar</button>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                        <div class="large-6  medium-6 columns">
                            <h4>Como adicionar um colaborador</h4>
                            <div class="passo-passo">
                                <p><strong>Passo 1: </strong> Certifique-se que o colaborador seja resgistrado no Komit</p>
                                <p><strong>Passo 2: </strong> Busque-o pelo email de cadastro</p>
                                <p><strong>Passo 3: </strong> Caso deseje, adicione uma descrição a ele</p>
                                <p><strong>Passo 4: </strong> Em "Limite de SMS" adicione a quantidade de mensagens que deseja transferir ao colaborador</p>
                                <p><strong>Passo 5: </strong> Para concluir, aperte no botão "Salvar"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'componentes/sidebar.html' %}
        </div>
    </section>

{% endblock %}