{% extends 'componentes/base.html' %}
{% block extracss %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/chosen.css"/>
{% endblock %}
{% block content %}

    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
                            <a href="{% url 'apps.mensagem.views.mostrar_contato' %}">Contatos</a>
                            <a class="current" href="{{ request.path }}">Adicionar Contato</a>
                        </nav>
                    </div>
                </div>
                {% include 'componentes/mensagem-confirmacao.html' %}
                <div>
                    <div class="content tabcontato active large-12" id="panel2-1">
                        <form method="POST" action="{% url 'apps.mensagem.views.adicionar' %}">{% csrf_token %}
                            {{ form_contato.non_field_errors }}
                            <input value="{{ request.user.id }}" type="hidden" name="contato-usuario"/>
                            <fieldset>
                                <legend>Dados do contato</legend>
                                <div class="row">
                                    <div class="large-12  medium-12 columns">
                                        {{ form.nome.errors }}
                                        <label>Nome:</label>
                                        <input type="text" name="contato-nome"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-4  medium-4 columns">
                                        {{ form.dt_nasc.errors }}
                                        <label>Data de Nascimento:</label>
                                        <input type="date" name="contato-dt_nasc"/>
                                    </div>
                                    <div class="large-8  medium-8 columns">
                                        {{ form.email.errors }}
                                        <label>Email:</label>
                                        <input type="email" name="contato-email"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-4  medium-4 columns">
                                        <label>Profissão:</label>
                                        <input type="text" name="contato-profissao"/>
                                    </div>
                                    <div class="large-8  medium-8 columns">
                                        <label>Empresa:</label>
                                        <input type="text" name="contato-empresa"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12  medium-12 columns">
                                        <label>Endereço:</label>
                                        <input type="text" name="contato-endereco"/>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="large-12  medium-12 columns">
                                        <fieldset>
                                            <legend>Telefone</legend>
                                            {{ formset.management_form }}
                                            {% for form in formset %}
                                            {{ form.id }}
                                            <div class="add" id="id_telefone_set-0">
                                            <div class="large-12  medium-12 columns">
                                                <div class="large-4  medium-4 columns">
                                                    <label for="id_telefone_set-0-telefone">Número*:</label>
                                                    {{ form.telefone }}
                                                </div>
                                                <div class="large-4  medium-4 columns">
                                                    <label for="id_telefone_set-0-descricao">Etiqueta:</label>
                                                    {{ form.descricao }}
                                                </div>
                                                <div class="large-4  medium-4 columns">
                                                    <label for="id_telefone_set-0-grupo">Grupo:</label>
                                                        {{ form.grupo }}
                                                </div>
                                            </div>
                                            </div>
                                            {% endfor %}
                                        <a class="right" id="remove_last">Remover</a>
                                        </fieldset>
                                </div>
                            </div>
                            <a class="right" id="add_more">Adicionar outro telefone</a>
                            <div class="btnadd">
                                <ul class="button-group">
                                    <li><button type="submit" class="button success small">Salvar</button></li>
                                </ul>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% include 'componentes/sidebar.html' %}
        </div>
    </section>

{% endblock %}

{% block extrajs %}
    <script src="{{ MEDIA_URL }}js/chosen.js"></script>
    <script src="{{ MEDIA_URL }}js/adicionar_telefone.js"></script>
    <script src="{{ MEDIA_URL }}js/fast.js"></script>
    <script type="text/javascript">
        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': {allow_single_deselect: true},
            '.chosen-select-no-single': {disable_search_threshold: 10},
            '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
            '.chosen-select-width': {width: "95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>
    <script>
        $('#add_more').click(function () {
            cloneMore('div.add:last', 'telefone_set');
            $('#remove_last').show()
        });
    </script>
    <script>
        if($('.add').length = 1){
            $('#remove_last').hide()
        }
    </script>
    <script>
        $('#remove_last').click(function () {
            if($('.add').length > 1){
                $('.add:last').remove()
                $('#add_more').hide()
            }
        });
    </script>

{% endblock %}