{% extends 'componentes/base.html' %}
{% block extracss %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/chosen.css"/>
{% endblock %}
{% block content %}

    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
                            <a href="{% url 'apps.mensagem.views.mostrar_grupo' %}">Grupos</a>
                            <a class="current" href="{{ request.path }}">Adicionar grupo</a>
                        </nav>
                    </div>
                </div>
                {% include 'componentes/mensagem-confirmacao.html' %}
                <div class="bg-panel">
                    <div class="row">
                        <div class="large-12  medium-12 columns">
                            <h4 class="titleheader">Adicionar grupo</h4>
                            <form method="POST" action="{% url 'apps.mensagem.views.adicionar_grupo' %}"
                                  enctype="multipart/form-data">{% csrf_token %}
                                <input value="{{ request.user.id }}" type="hidden" name="grupo-usuario"/>

                                <div class="row">
                                    <div class="large-6  medium-6 columns">
                                        <label {% if form_grupo.nome.errors %} class="error" {% endif %}>Grupo:</label>
                                        <input type="text" name="grupo-nome" {% if form_grupo.nome.errors %} class="error" {% endif %}/>
                                        {% if form_grupo.nome.errors %}<small class="error">{{ form_grupo.nome.errors.as_text }}</small>{% endif %}
                                        <label {% if form_grupo.non_field_errors %} class="error" {% endif %}>Contatos</label>
                                        <select data-placeholder="Lista de contatos" name="grupo-contatos" multiple
                                                class="chosen-select {% if form_grupo.non_field_errors %}error{% endif %}">
                                            <option value=""></option>
                                            {% for contato in todos_contatos %}
                                                {% for telefone in contato.telefone_set.all %}
                                                    <option value="{{ telefone.pk }}">{{ contato.nome }}
                                                        ( {{ telefone.descricao }}: {{ telefone.telefone }} )
                                                    </option>
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                        {% if form_grupo.non_field_errors %}
                                            <small class="error">{{ form_grupo.non_field_errors.as_text }}</small>{% endif %}
                                    </div>

                                    {#                                <div class="large-6  medium-6 columns">#}
                                    {#                                    <label>Upload arquivos CSV, TXT, vCard e Excel :</label>#}
                                    {#                                    <input type="file" name="arquivo" value="Selecione o arquivo" placeholder=""/>#}
                                    {#                                </div>#}
                                </div>

                                <div class="row">
                                    <div class="large-12  medium-12 columns">
                                        <div class="btnadd">
                                            <ul class="button-group">
                                                <li><a href="#panel2-2">
                                                    <button type="submit" class="button success small">Salvar</button>
                                                </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>

            {% include 'componentes/sidebar.html' %}
        </div>
    </section>

{% endblock %}

{% block extrajs %}
    <script src="{{ MEDIA_URL }}js/chosen.js"></script>
    <script type="text/javascript">
        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': {allow_single_deselect: true},
            '.chosen-select-no-single': {disable_search_threshold: 10},
            '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
            '.chosen-select-width': {width: "95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>
{% endblock %}