{% extends 'componentes/base.html' %}

{% block content %}
    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
                            <a class="current" href="{{ request.path }}">Comprar mais créditos</a>
                        </nav>
                    </div>
                </div>
                {% include 'componentes/mensagem-confirmacao.html' %}
                <div class="bg-panel">
                    <div class="row">
                        <div class="large-12  medium-12 columns">
                            <h4 class="titleheader">Planos tarifas</h4>
                            <ul class="small-block-grid-2 medium-block-grid-5 large-block-grid-5">
                                {% for plano in planos %}
                                <li>
                                    <div class="planobox">
                                        <img src="{{ MEDIA_URL }}{{ plano.imagem }}" alt="">
                                        <h6>R$ {{ plano.valor }} / SMS</h6>
                                        <h6>De <span>{{ plano.quantidade_inicial }}</span> até <span>{{ plano.quantidade_final }}</span>sms</h6>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                    <div class="row">
                        <form method="POST" action="{% url 'comprar_credito' %}">{% csrf_token %}
                            <div class="large-6  medium-6 columns">
                                {{ form.non_field_errors }}
                                <input value="{{ request.user.id }}" type="hidden" name="usuario"/>
                                <label>Quantidade de créditos</label>
                                <input id="id_quantidade" name="quantidade" type="text" placeholder="Digite a quantidade de SMS">
                                <div class="btnadd">
                                    <ul class="button-group">
                                        <li>
                                            <button type="submit" class="button success small">Comprar créditos</button>
                                        </li>
                                    </ul>
                                </div>
                                {{ form.msg.errors }}
                            </div>

                        </form>
                    </div>
                    <hr class="linha">
                    <h6>* SMS para todas as operadoras do Brasil</h6>

                </div>
            </div>
            {% include 'componentes/sidebar.html' %}
        </div>
    </section>

{% endblock %}