{% extends 'componentes/base.html' %}
{% block extracss %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/chosen.css" />
{% endblock %}
{% block content %}

    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
                            <a href="{% url 'apps.mensagem.views.mostrar_contato' %}">Contatos</a>
                            <a class="current" href="{{ request.path }}">Editar Contato</a>
                        </nav>
                    </div>
                </div>

                <div>
                    <div class="content active large-12" id="panel2-1">
                        <form method="POST" action="{% url 'apps.mensagem.views.editar' contato.id %}">
                            {% csrf_token %}
                            {{ form_contato.non_field_errors }}
                            <input value="{{ request.user.id }}" type="hidden" name="usuario"/>
                            <fieldset>
                                <legend>Dados do contato</legend>
                                <div class="row">
                                    <div class="large-12  medium-12 columns">
                                        {{ form.nome.errors }}
                                        <label>Nome:</label>
                                        <input type="text" name="nome" value="{{ contato.nome }}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-4  medium-4 columns">
                                        {{ form.dt_nasc.errors }}
                                        <label>Data de Nascimento:</label>
                                        <input type="date" name="dt_nasc" value="{{ contato.dt_nasc|date:"d/m/Y"|default_if_none:''  }}" placeholder="XX/XX/XXXX"/>
                                    </div>
                                    <div class="large-8  medium-8 columns">
                                        {{ form.email.errors }}
                                        <label>Email:</label>
                                        <input type="email" name="email" value="{{ contato.email }}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-4  medium-4 columns">
                                        <label>Profissão:</label>
                                        <input type="text" name="profissao" value="{{ contato.profissao }}"/>
                                    </div>
                                    <div class="large-8  medium-8 columns">
                                        <label>Empresa:</label>
                                        <input type="text" name="empresa" value="{{ contato.empresa }}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12  medium-12 columns">
                                        <label>Endereço:</label>
                                        <input type="text" name="endereco" value="{{ contato.endereco }}"/>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="large-12  medium-12 columns">
                                        <fieldset>
                                            <legend>Telefone</legend>
                                            {{ formset.management_form }}
                                            {% for form in formset %}
                                            {{ form.id }}
                                            <div class="add">
                                            <div class="large-12  medium-12 columns">
                                                <div class="large-3  medium-3 columns">
                                                    <label for="id_telefone_set-0-descricao">Descricao:</label>
                                                    {{ form.descricao }}
                                                </div>
                                                <div class="large-3  medium-3 columns">
                                                    <label for="id_telefone_set-0-telefone">Telefone:</label>
                                                    {{ form.telefone }}
                                                </div>
                                                <div class="large-3  medium-3 columns">
                                                    <label for="id_telefone_set-0-grupo">Grupo:</label>
                                                        {{ form.grupo }}
                                                </div>
                                                <div class="large-3  medium-3 columns">
                                                    <label for="id_telefone_set-0-apagar">Apagar?</label>
                                                    {{ form.DELETE }}
                                                </div>
                                            </div>
                                            </div>
                                            {% endfor %}
                                        </fieldset>
                                </div>
                            </div>
                            <a class="right" id="add_more">Adicionar outro telefone</a>
                            <div class="btnadd">
                                <ul class="button-group">
                                    <li><button type="submit" class="button success small">Salvar</button></li>
                                </ul>

                            </div>
                        </form>
                    </div>

                </div>


            </div>

            {% include 'componentes/sidebar.html' %}
        </div>
    </section>

{% endblock %}

{% block extrajs %}
    <script src="{{ MEDIA_URL }}js/chosen.js"></script>
    <script src="{{ MEDIA_URL }}js/adicionar_telefone.js"></script>
    <script type="text/javascript">
        var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>
    <script>
        $('#add_more').click(function () {
            cloneMore('div.add:last', 'telefone_set');
        });
    </script>
{% endblock %}