{% extends 'componentes/base.html' %}
{% block content %}

    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
                            <a class="current" href="{{ request.path }}">Editar Perfil</a>
                        </nav>
                    </div>
                </div>
                {% include 'componentes/mensagem-confirmacao.html' %}
                <div>
                    <div class="bg-panel">
                        <h4 class="titleheader">Editar perfil</h4>
                        <div class="row">
                            <div class="large-12  medium-12 columns">
                                <form method="POST" action="{% url 'editar-perfil' %}">{% csrf_token %}
                                    {{ form_grupo.non_field_errors }}
                                    <div class="row">
                                        <div class="large-12  medium-12 columns">
                                            <label>Nome: </label>
                                            <input type="text" name="nome" value="{{ usuario.nome }}"/>
                                            {% if form.name.errors %}
                                                <small class="error">{{ form.email.errors }}</small>{% endif %}
                                        </div>
                                    </div>
                                    <input type="hidden" name="email" value="{{ usuario.email }}" required/>

                                    <div class="row">
                                        <div class="large-6  medium-6 columns">
                                            <label>Telefone:</label>
                                            <input type="tel" name="telefone" value="{{ usuario.telefone }}" type="tel"/>
                                            {% if form.telefone.errors %}
                                                <small class="error">{{ form.telefone.errors }}</small>{% endif %}
                                        </div>
                                        <div class="large-6  medium-6 columns">
                                            {{ form.dt_nasc.errors }}
                                            <label>Data de Nascimento:</label>
                                            <input type="text" name="dt_nasc"
                                                   value="{{ usuario.dt_nasc|date:"d/m/Y"|default_if_none:'' }}"
                                                   placeholder="XX/XX/XXXX"/>
                                            {% if form.dt_nasc.errors %}
                                                <small class="error">Data deve ser digitada no formato XX/XX/XXXX
                                                </small>{% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-6  medium-6 columns">
                                            <label>Empresa</label>
                                            <input type="text" name="empresa"
                                                   value="{{ usuario.empresa|default_if_none:'' }}"/>
                                        </div>
                                        <div class="large-6  medium-6 columns">
                                            <label>Profissão</label>
                                            <input type="text" name="profissao"
                                                   value="{{ usuario.profissao|default_if_none:'' }}"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-12  medium-12 columns">
                                            <label>Endereço:</label>
                                            <input type="text" name="endereco"
                                                   value="{{ usuario.endereco|default_if_none:'' }}"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-4  medium-4 columns">
                                            <label>Senha atual:</label>
                                            <input type="password" name="senha-atual"/>
                                        </div>
                                        <div class="large-4  medium-4 columns">
                                            <label>Senha:</label>
                                            <input type="password" name="password1"/>
                                        </div>
                                        <div class="large-4  medium-4 columns">
                                            <label>Confirme sua senha:</label>
                                            <input type="password" name="password2"/>
                                        </div>
                                        {% if form.errors %}
                                            <small class="error">{{ form.password2.errors }}</small>{% endif %}
                                    </div>
                                    <div class="btnadd">
                                        <ul class="button-group">
                                            <li>
                                                <button type="submit" class="button success small">Salvar</button>
                                            </li>
                                        </ul>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>

{% endblock %}

{% block extrajs %}
    <script src="{{ MEDIA_URL }}js/fast.js"></script>
{% endblock %}