{% extends 'componentes/base.html' %}
{% block extracss %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/chosen.css"/>
{% endblock %}
{% block content %}

    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
                            <a href="{% url 'apps.mensagem.views.mostrar_grupo' %}">Grupos</a>
                            <a class="current" href="{{ request.path }}">Editar Grupo</a>
                        </nav>
                    </div>
                </div>
                {% include 'componentes/mensagem-confirmacao.html' %}
                <div class="bg-panel">
                    <div class="row">
                        <div class="large-12  medium-12 columns">
                            <h4 class="titleheader">Editar grupo</h4>
                            <form method="POST"
                                  action="{% url 'apps.mensagem.views.editar_grupo' grupo.id %}">{% csrf_token %}
                                {{ form_grupo.non_field_errors }}
                                <input value="{{ request.user.id }}" type="hidden" name="usuario"/>

                                <div class="row">
                                    <div class="large-12  medium-12 columns">
                                        {{ form_grupo.nome.errors }}
                                        <label>Nome:</label>
                                        <input type="text" name="nome" value="{{ grupo.nome }}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12  medium-12 columns">
                                        <label>Contatos</label>
                                        <select data-placeholder="Lista de contatos" name="grupo-contatos" multiple
                                                class="chosen-select">
                                            <option value=""></option>
                                            {% for contato in todos_contatos %}
                                                {% for telefone in contato.telefone_set.all %}
                                                    {% if telefone in grupo.telefone_set.all %}
                                                        <option selected value="{{ telefone.pk }}">{{ contato.nome }}
                                                            ( {{ telefone.descricao }}: {{ telefone.telefone }} )
                                                        </option>
                                                    {% else %}
                                                        <option value="{{ telefone.pk }}">{{ contato.nome }}
                                                            ( {{ telefone.descricao }}: {{ telefone.telefone }} )
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="btnadd">
                                    <ul class="button-group">
                                        <li>
                                            <button type="submit" class="button success small">Salvar</button>
                                        </li>
                                    </ul>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>


            </div>

            {% include 'componentes/sidebar.html' %}
        </div>
    </section>

{% endblock %}

{% block extrajs %}
    <script src="{{ MEDIA_URL }}js/chosen.js"></script>
    <script type="text/javascript">
        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': {allow_single_deselect: true},
            '.chosen-select-no-single': {disable_search_threshold: 10},
            '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
            '.chosen-select-width': {width: "95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>
{% endblock %}