{% extends 'componentes/base.html' %}
{% block extracss %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/chosen.css"/>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui-timepicker-addon.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui.css" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
                            <a class="current" href="{{ request.path }}">Enviar Mensagem</a>
                        </nav>
                    </div>
                </div>
                {% include "componentes/mensagem-confirmacao.html" %}
                <div class="bg-panel">
                    <h4 class="titleheader">Enviar mensagem</h4>
                    <div class="row">
                        <form method="POST" action="{% url 'apps.mensagem.views.enviar' %}">{% csrf_token %}
                            <div class="large-6  medium-6 columns">
                                <input value="{{ request.user.id }}" type="hidden" name="usuario"/>
                                <input type="hidden" name="is_api"/>
                                <label {% if form.msg.errors %} class="error" {% endif %}>Mensagem</label>
                                <textarea name="msg" id="campo" placeholder="" style="height:113px;"
                                          onkeyup="contarCaracteres(this.value,160,'sprestante')" {% if form.msg.errors %}class="error"{% endif %}></textarea>
                                {% if form.msg.errors %}
                                    <small class="error">{{ form.msg.errors.as_text }}</small>{% endif %}
                                <p id="sprestante"></p>
                                <label>Data de envio:</label>
                                <input class="data_hora" type="text" name="dt_envio" value="{{ data_atual|date:'d/m/Y H:i' }}"/>
                                <div class="btnadd">
                                    <ul class="button-group">
                                        <li>
                                            <button type="submit" class="button success small">Enviar</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="large-6  medium-6 columns">

                                <label>Selecione os contatos</label>
                                <select data-placeholder="Lista de contatos" name="contato" multiple
                                        class="chosen-select">
                                    <option value=""></option>
                                    {% for contato in contatos %}
                                        {% for tel in contato.telefone_set.all %}
                                            {% if contato.pk == contato_sessao %}
                                                <option selected value="{{ tel.pk }}">{{ contato }}
                                                    ( {{ tel.descricao }}: {{ tel.telefone }} )
                                                </option>
                                            {% else %}
                                                <option value="{{ tel.pk }}">{{ contato }}
                                                    ( {{ tel.descricao }}: {{ tel.telefone }} )
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </select>

                                <label>Selecione grupos</label>
                                <select data-placeholder="Lista de grupos" name="grupo" multiple class="chosen-select">
                                    <option value=""></option>
                                    {% for grupo in grupos %}
                                        <option value="{{ grupo.pk }}">{{ grupo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            {% include 'componentes/sidebar.html' %}
        </div>
    </section>
{% endblock %}

{% block extrajs %}
    <script src="{{ MEDIA_URL }}js/chosen.js"></script>
    <script src="{{ MEDIA_URL }}js/mostrarResultado.js"></script>

    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script src="{{ MEDIA_URL }}js/datepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="{{ MEDIA_URL }}js/datepicker/jquery-ui-sliderAccess.js"></script>

    <script type="text/javascript">
        $('.data_hora').datetimepicker({
            minDate: 0,
            dateFormat: 'dd/mm/yy',
            currentText: 'Hoje',
            closeText: 'Ok',
            timeText: 'Horário',
            hourText: 'Hora',
            minuteText: 'Minutos',
            monthNames: ['Janeiro', 'Fevereiro', 'Mar&ccedil;o', 'Abril', 'Maio', 'Junho','Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun','Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            dayNames: ['Domingo', 'Segunda-feira', 'Ter&ccedil;a-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'S&aacute;bado'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'S&aacute;b'],
            dayNamesMin: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'S&aacute;b'],
            weekHeader: 'Sm'
         }
      );

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': {allow_single_deselect: true},
            '.chosen-select-no-single': {disable_search_threshold: 10},
            '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
            '.chosen-select-width': {width: "95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>
    <script>
      $(document).foundation();
        var doc = document.documentElement;
        doc.setAttribute('data-useragent', navigator.userAgent);
    </script>

{% endblock %}