{% extends 'componentes/base.html' %}
{% block extracss %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/chosen.css" />
{% endblock %}
{% block content %}
<section id="container">
  <div class="row">
    <div class="large-9  medium-9 columns">
      <div class="row">
        <div class="large-12  medium-12 columns">
          <nav class="breadcrumbs">
            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
            <a class="current" href="{{ request.path }}">Importar Contatos</a>
          </nav>
        </div>
      </div>


     {% include 'componentes/mensagem-confirmacao.html' %}
       <div class="bg-panel">
            <h4 class="titleheader">Importar contatos</h4>
           <div class="row">
                <div class="large-6  medium-6 columns">
                  <form method="post" enctype="multipart/form-data" action="{% url 'apps.mensagem.views.importar' %}">
                   {% csrf_token %}
                   <label>Upload arquivos CSV, TXT, vCard e Excel :</label>
                   <input type="file" name="arquivo" value="Selecione o arquivo" placeholder="" />

                   <label>Selecione um ou mais grupos para os contatos</label>
                   <select data-placeholder="Lista de grupos" name="grupo" multiple class="chosen-select">
                     <option value=""></option>
                     {% for grupo in grupos %}
                     <option value="{{ grupo.pk }}">{{ grupo }}</option>
                     {% endfor %}
                   </select>

                   <div class="btnadd">
                     <ul class="button-group">
                       <li><button type="submit" class="button success small">Importar</button></li>
                     </ul>

                   </div>
                  </form>
                </div>
                <div class="large-6  medium-6 columns">
                    <h4>Como importar um arquivo</h4>
                    <div class="passo-passo">
                        <p><strong>Passo 1: </strong> Certifique-se que seu arquivo esteja na seguinte ordem: Nome; Descricao; Telefone; Limite de até 3 numeros por contato.<br><br> Ex.: Antonio;Casa;8699999999;Trabalho;8699999999;</p>
                        <p><strong>Passo 2: </strong> Clique no botão "Selecionar arquivo"</p>
                        <p><strong>Passo 3: </strong> Escolha o arquivo a ser importado</p>
                        <p><strong>Passo 4: </strong> Para finalizar clique no botão "Importar"</p>
                    </div>
                </div>

          </div>
       </div>

      
  
      


    </div>

{% include 'componentes/sidebar.html' %}
  </div>
</section>
{% endblock %}

{% block extrajs %}
    <script src="{{ MEDIA_URL }}js/chosen.js"></script>
    <script type="text/javascript">
      var config = {
        '.chosen-select'           : {},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
        '.chosen-select-width'     : {width:"95%"}
      }
      for (var selector in config) {
        $(selector).chosen(config[selector]);
      }
    </script>
{% endblock %}