{% extends 'componentes/base.html' %}

{% block content %}
    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
            {% include 'componentes/mensagem-confirmacao.html' %}
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
                            <a class="current" href="{{ request.path }}">Grupos</a>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="large-6  medium-6 columns">
                        <form action="{% url 'apps.mensagem.views.busca_grupo' %}" method="get">
                        <div class="search">
                            <input type="text" name="q" placeholder="Buscar grupo"/>
                            <button type="submit" class="lupa"></button>
                        </div>
                        </form>
                    </div>

                    <div class="large-6  medium-6 columns">
                        <form>
                            <div class="btnadd">
                                <a href="{% url 'adicionar_grupo' %}" class="button success tiny right">Adicionar
                                    grupo</a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <div class="table-list">
                            <table class="large-12">
                                <thead>
                                <tr>
                                    <th class="nome">Nome</th>
                                    <th class="acoes">Ações</th>
                                </tr>
                                </thead>

                                <tbody id="load_grupos">
                                {% include 'componentes/grupos_objetos.html' %}
                                </tbody>
                            </table>
                            {% if grupos.has_next %}
                            <a href="javascript:;" data-href="{% url 'apps.mensagem.views.mostrar_grupo' %}?page={{ grupos.next_page_number }}" id="loader_grupos" class="button tiny alert large-12">Mais contatos ⬇︎</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
            {% include 'componentes/sidebar.html' %}
        </div>
    </section>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $("#loader_grupos").click(function(){
        url = $(this).attr('data-href');
        if (url){
            $.get(url, function(resposta) {
                $("#load_grupos").append(resposta);
            });
        }
    });
</script>
{% endblock %}




