{% extends 'componentes/base.html' %}

{% block content %}
    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
            {% include 'componentes/mensagem-confirmacao.html' %}
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
                            <a href="{% url 'apps.mensagem.views.mostrar_grupo' %}">Grupos</a>
                            <a class="current" href="{{ request.path }}">Meus contatos de {{ grupo.nome }}</a>
                        </nav>
                    </div>
                </div>

                <h4 class="titleheader">Meus contatos de {{ grupo.nome|capfirst }}</h4>

                <div class="row">
                    <div class="large-6  medium-6 columns">
                        <form action="{% url 'apps.mensagem.views.busca_contato_grupo' grupo.pk %}" method="get">
                        <div class="search">
                            <input type="text" name="q" placeholder="Buscar grupo"/>
                            <button type="submit" class="lupa"></button>
                        </div>
                        </form>
                    </div>

                    <div class="large-6  medium-6 columns">
                        <form>
                            <div class="btnadd">
                                <a href="{% url 'apps.mensagem.views.editar_grupo' grupo.pk %}" class="button success tiny right">Editar Grupo
                                    </a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <div class="table-list">
                            <table class="large-12">
                                <thead>
                                <tr>
                                    <th class="nome">Nome</th>
                                    <th class="tel">Telefone</th>
                                    <th class="acoes">Ações</th>
                                </tr>
                                </thead>

                                <tbody id="load_contato_grupo">
                                {% include 'componentes/contato_grupo_objetos.html' %}
                                </tbody>
                            </table>
                            {% if telefones.has_next %}
                            <a href="javascript:;" data-href="{% url 'apps.mensagem.views.contato_grupo' grupo.pk %}?page={{ telefones.next_page_number }}" id="loader_contato_grupo" class="button tiny alert large-12">Mais contatos ⬇︎</a>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="row">
                </div>


            </div>
            {% include 'componentes/sidebar.html' %}
        </div>
    </section>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $("#loader_contato_grupo").click(function(){
        url = $(this).attr('data-href');
        if (url){
            $.get(url, function(resposta) {
                $("#load_contato_grupo").append(resposta);
            });
        }
    });
</script>
{% endblock %}



