{% extends 'componentes/base.html' %}

{% block content %}
    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
            {% include 'componentes/mensagem-confirmacao.html' %}
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
                            <a class="current" href="{{ request.path }}">Contatos</a>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="large-6  medium-6 columns">
                        <form action="{% url 'apps.mensagem.views.busca_contato' %}" method="get">
                        <div class="search">
                            <input type="text" name="q" placeholder="Buscar grupo"/>
                            <button type="submit" class="lupa"></button>
                        </div>
                        </form>
                    </div>

                    <div class="large-6  medium-6 columns">
                        <form>
                            <div class="btnadd">
                                <a href="{% url 'apps.mensagem.views.adicionar' %}" class="button success tiny right">Adicionar
                                    contato</a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <div class="table-list">
                            <table class="large-12">
                                <thead>
                                <tr>
                                    <th class="nome">Nome</th>
                                    <th class="tel">Telefone</th>
                                    <th class="acoes">Ações</th>
                                </tr>
                                </thead>

                                <tbody id="load_contatos">
                                {% include 'componentes/contatos_objetos.html' %}

                                </tbody>


                            </table>
                            {% if contatos.has_next %}
                            <a href="javascript:;" data-href="{% url 'apps.mensagem.views.mostrar_contato' %}?page={{ contatos.next_page_number }}" id="loader_contatos" class="button tiny alert large-12">Mais contatos ⬇︎</a>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="row">
                </div>


            </div>
            {% include 'componentes/sidebar.html' %}
        </div>
    </section>

    <div id="myModalcontato" class="reveal-modal small" data-reveal>
        <div id="view-modal">
            
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $("#loader_contatos").click(function(){
        url = $(this).attr('data-href');
        if (url){
            $.get(url, function(resposta) {
                $("#load_contatos").append(resposta);
            });
        }
    });
</script>

{% endblock %}





