{% extends 'componentes/base.html' %}
{% block content %}
    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
                            <a class="current" href="{{ request.path }}">Histórico de créditos</a>
                        </nav>
                    </div>
                </div>
                {% include 'componentes/mensagem-confirmacao.html' %}
                <fieldset>
                <div class="row">
                     <form action="{% url 'apps.financeiro.views.busca_credito' %}" method="get">
                        <div class="large-4  medium-4 columns">
                            <div class="search">
                                <input type="text" name="q" placeholder="Buscar histórico"/>
                            </div>
                        </div>
                        <div class="large-6  medium-6 columns">
                            <div class="row">
                                <div class="large-6  medium-6 columns">
                                    <input type="text" name="dt-inicial" placeholder="Data inicio"/>
                                </div>
                                <div class="large-6  medium-6 columns">
                                    <input type="text" name="dt-final" placeholder="Data final"/>
                                </div>
                            </div>
                        </div>
                        <div class="large-2  medium-2 columns">
                            <button type="submit" class="tiny success">Buscar</button>
                        </div>
                    </form>
                </div>
                </fieldset>
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <div class="table-list">
                            <table>
                                <thead>
                                <tr>
                                    <th width="300">Pacote</th>
                                    <th width="100">Quantidade</th>
                                    <th width="100">Valor do pacote</th>
                                    <th width="300">Data de compra</th>
                                    <th width="100">Valor de compra</th>
                                    <th width="100">Status</th>
                                </tr>
                                </thead>

                                <tbody id="load_historico_credito">
                                {% include 'componentes/historico_credito_objetos.html' %}
                                </tbody>

                            </table>
                            {% if historico_credito.has_next %}
                            <a href="javascript:;" data-href="{% url 'historico_credito' %}?page={{ historico_credito.next_page_number }}" id="loader_historico_credito" class="button tiny alert large-12">Mais histórico ⬇︎</a>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="row">
                </div>


            </div>
            {% include 'componentes/sidebar.html' %}
        </div>
    </section>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $("#loader_historico_credito").click(function(){
        url = $(this).attr('data-href');
        if (url){
            $.get(url, function(resposta) {
                $("#load_historico_credito").append(resposta);
            });
        }
    });
</script>
{% endblock %}





