{% extends 'componentes/base.html' %}

{% block content %}
    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
            {% include 'componentes/mensagem-confirmacao.html' %}
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
                            <a class="current" href="{{ request.path }}">Colaboradores</a>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="large-6  medium-6 columns">
                        <form action="{% url 'apps.mensagem.views.busca_colaborador' %}" method="get">
                        <div class="search">
                            <input type="text" name="q" placeholder="Buscar grupo"/>
                            <button type="submit" class="lupa"></button>
                        </div>
                        </form>
                    </div>

                    <div class="large-6  medium-6 columns">
                        <form>
                            <div class="btnadd">
                                <a href="{% url 'apps.mensagem.views.adicionar_colaborador' %}" class="button success tiny right">Adicionar
                                    colaborador</a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <div class="table-list">
                            <table class="large-12">
                                <thead>
                                <tr>
                                    <th class="nome">Nome / Descrição</th>
                                    <th class="email">Email</th>
                                    <th class="nome">SMS Disponíveis</th>
                                    <th class="acoes">Ações</th>
                                </tr>
                                </thead>

                                <tbody id="load_colaboradores">
                                {% include 'componentes/colaboradores_objetos.html' %}
                                </tbody>
                            </table>
                            {% if colaboradores.has_next %}
                            <a href="javascript:;" data-href="{% url 'apps.mensagem.views.mostrar_colaborador' %}?page={{ colaboradores.next_page_number }}" id="loader_colaboradores" class="button tiny alert large-12">Mais contatos ⬇︎</a>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="row">
                </div>


            </div>
            {% include 'componentes/sidebar.html' %}
        </div>
    </section>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $("#loader_colaboradores").click(function(){
        url = $(this).attr('data-href');
        if (url){
            $.get(url, function(resposta) {
                $("#load_colaboradores").append(resposta);
            });
        }
    });
</script>
<script language='JavaScript'>
function SomenteNumero(e){
    var tecla=(window.event)?event.keyCode:e.which;
    if((tecla>47 && tecla<58)) return true;
    else{
    	if (tecla==8 || tecla==0) return true;
	else  return false;
    }
}
</script>

{% endblock %}




