{% extends 'componentes/base.html' %}
{% block content %}
    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a>
                            <a class="current" href="{{ request.path }}">Histórico de SMS</a>
                        </nav>
                    </div>
                </div>
                {% include 'componentes/mensagem-confirmacao.html' %}
                <fieldset>
                <div class="row">
                    <form action="{% url 'apps.mensagem.views.busca_sms' %}" method="get">
                        <div class="large-4  medium-4 columns">
                            <div class="search">
                                <input type="text" name="q" placeholder="Buscar histórico"/>
                            </div>
                        </div>
                        <div class="large-6  medium-6 columns">
                            <div class="row">
                                <div class="large-6  medium-6 columns">
                                    <input type="text" name="dt-inicial" placeholder="Data inicio"/>
                                </div>
                                <div class="large-6  medium-6 columns">
                                    <input type="text" name="dt-final" placeholder="Data final"/>
                                </div>
                            </div>
                        </div>
                        <div class="large-2  medium-2 columns">
                            <button type="submit" class="tiny success">Buscar</button>
                        </div>
                    </form>
                </div>
                    </fieldset>
                <div class="row">
                    <div class="large-12 medium-12 columns">
                        <fieldset class="lengenda-icone">
                            <ul class="btn-list" id="btn-actions">
                                <li><i id="pendent"></i> Pendente</li>
                                <li><i id="success"></i>Enviada</li>
                                <li><i id="fail"></i>Cancelada</li>
                            </ul>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <div class="table-list">
                            <table>
                                <thead>
                                <tr>
                                    <th width="200">Contato</th>
                                    <th width="400">Mensagem</th>
                                    <th width="200">Data de envio</th>
                                    <th width="100">Status</th>
                                </tr>
                                </thead>

                                <tbody id="load_historico_sms">
                                {% include 'componentes/historico_sms_objetos.html' %}
                                </tbody>

                            </table>
                            {% if historico_mensagem.has_next %}
                            <a href="javascript:;" data-href="{% url 'historico_sms' %}?page={{ historico_mensagem.next_page_number }}" id="loader_historico_sms" class="button tiny alert large-12">Mais histórico ⬇︎</a>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="row">
                </div>


            </div>
            {% include 'componentes/sidebar.html' %}
        </div>
    </section>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $("#loader_historico_sms").click(function(){
        url = $(this).attr('data-href');
        if (url){
            $.get(url, function(resposta) {
                $("#load_historico_sms").append(resposta);
            });
        }
    });
</script>
{% endblock %}





