{% extends 'componentes/base.html' %}

{% block content %}

    <section id="container">
        <div class="row">
            {% include 'componentes/mensagem-confirmacao.html' %}
            <div class="large-9  medium-9 columns">
                <h4>O que deseja fazer?</h4>
                <section id="menu-list">
                    <div class="row">
                        <div class="large-3  medium-3 columns">
                            <a href="{% url 'apps.mensagem.views.enviar' %}"><img src="{{ MEDIA_URL }}img/send.svg"
                                                                                  alt=""></a>
                        </div>
                        <div class="large-3  medium-3 columns">
                            <a href="{% url 'apps.mensagem.views.importar' %}"><img src="{{ MEDIA_URL }}img/import.svg"
                                                                                    alt=""></a>
                        </div>
                        <div class="large-3  medium-3 columns">
                            <a href="{% url 'apps.mensagem.views.adicionar' %}"><img src="{{ MEDIA_URL }}img/add2.svg"
                                                                                     alt=""></a>
                        </div>
                        <div class="large-3  medium-3 columns">
                            <a href="{% url 'apps.mensagem.views.adicionar_colaborador' %}"><img
                                    src="{{ MEDIA_URL }}img/add1.svg" alt=""></a>
                        </div>
                    </div>
                </section>
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <hr class="linha"/>
                        <h4>Histórico de SMS</h4>
                        <div class="row">
                            <div class="large-12 medium-12 columns">
                                <fieldset class="lengenda-icone">
                                    <ul class="btn-list" id="btn-actions">
                                        <li><i id="pendent"></i> Pendente</li>
                                        <li><i id="success"></i>Enviada</li>
                                        <li><i id="fail"></i>Cancelada</li>
                                    </ul>
                                </fieldset>
                            </div>
                        </div>
                        <div class="table-list">
                            <table>
                                <thead>
                                <tr>
                                    <th width="200">Contato</th>
                                    <th width="400">Mensagem</th>
                                    <th width="200">Data de envio</th>
                                    <th width="100">Status</th>
                                </tr>
                                </thead>
                                <tbody id="load_contatos">
                                {% for historico in historico_mensagem %}
                                <tr>
                                    <td class="nome">{{ historico.contato_destinatario }}</td>
                                    <td class="nome">{{ historico.msg.msg|truncatechars:"40" }}</td>
                                    <td class="data">{{ historico.dt_criacao|date:"d/m/Y - H:m" }}</td>
                                    <td class="acoes">
                                        <ul class="btn-list" id="btn-actions">
                                            {% if historico.status == '1' %}
                                            <li><i id="pendent"></i></li>
                                            {% elif historico.status == '2' %}
                                            <li><i id="success"></i></li>
                                            {% elif historico.status == '3' %}
                                            <li><i id="fail"></i></li>
                                            {% endif %}
                                        </ul>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <a href="{% url 'historico_sms' %}" data-href="" id="loader_contatos" class="button tiny secondary large-12">Mais historico ⬇︎</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <div id="api">
                            <div class="panel">
                                <div class="row">
                                    <div class="large-9  medium-9 columns">

                                        <p>Se você é desenvolvedor, visualize sua chave de acesso e faça a integração com o Komit</p>
                                    </div>
                                    <div class="large-3  medium-3 columns">
                                        <a class="button  btnblack" data-reveal-id="myModal2" href="#">Token</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'componentes/sidebar.html' %}
        </div>
    </section>

{% endblock %}

{% block modal %}
    <div id="myModal2" class="reveal-modal tiny" data-reveal>
        <div id="view-modal">
            <h4>Chave de acesso:</h4>

            <p><strong>Key:</strong> {{ token.0 }}</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
{% endblock %}
