{% extends 'componentes/base.html' %}
{% block content %}

    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'home' %}">Home</a>
                            <a class="current" href="{{ request.path }}">Esqueci a senha</a>
                        </nav>
                    </div>
                </div>
                {% include 'componentes/mensagem-confirmacao.html' %}
                <div class="tabs-content">
                    <div class="content active large-12" id="panel2-1">
                     {% if validlink %}
                        <form method="POST" action="">{% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="row">
                                <div class="large-6  medium-6 columns">
                                    <label>Senha: </label>
                                    <input type="password" name="new_password1" required/>
                                    {% if form.new_password1.errors %}<small class="error">{{ form.new_password1.errors }}</small>{% endif %}
                                </div>
                                <div class="large-6  medium-6 columns">
                                    <label>Confime sua senha: </label>
                                    <input type="password" name="new_password2" required/>
                                    {% if form.new_password2.errors %}<small class="error">{{ form.new_password2.errors }}</small>{% endif %}
                                </div>
                            </div>
                                <div class="btnadd">
                                    <ul class="button-group">
                                        <li>
                                            <button type="submit" class="button success small">Salvar</button>
                                        </li>
                                    </ul>

                                </div>
                        </form>
                    {% else %}
                        <h2>Link inválido </h2>

                    {% endif %}
                    </div>

                </div>


            </div>

        </div>
    </section>

{% endblock %}
