{% extends 'componentes/base.html' %}
{% block content %}

    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'home' %}">Home</a>
                            <a class="current" href="{{ request.path }}">Esqueci a senha</a>
                        </nav>
                    </div>
                </div>
                {% include 'componentes/mensagem-confirmacao.html' %}
                <div class="tabs-content">
                    <div class="content active large-12" id="panel2-1">
                        <h4>Siga as instruções para configurar a sua senha que foi enviada para o endereço de e-mail que você nos enviou. </h4>
                        <h4>Você deve recebê-lo em breve.</h4>

                    </div>

                </div>


            </div>

        </div>
    </section>

{% endblock %}
