<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>{% block title %}Komit{% endblock %}</title>


    <meta name="description" content="" />

    <meta name="author" content="Filipe Raiz" />
    <meta name="copyright" content="" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/foundation.min.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/estilo.css" />
    {% block extracss %}{% endblock %}
    <script src="{{ MEDIA_URL }}js/modernizr.js"></script>

    <style type="text/css" media="all">
    /* fix rtl for demo */
    .chosen-rtl .chosen-drop { left: -9000px; }
  </style>
  </head>
  <body>
  <div class="body">

{% include 'componentes/header.html' %}

{% block content %}

{% endblock %}

{% include 'componentes/footer.html' %}
 </div>

{% block modal %}
{% endblock %}

    <script src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script src="{{ MEDIA_URL }}js/foundation.min.js"></script>
{#    <script src="{{ MEDIA_URL }}js/foundation/foundation.orbit.js"></script>#}
    {% block extrajs %}{% endblock %}



    <script>
        $(function(event) {
        var url = window.location.hash;
        var local = '#panel2-2';
        if(url == local) {
            $('.tabs dd.tabcontato').removeClass('active');
            $('.tabs-content .content.tabcontato').removeClass('active');
            $('.tabs dd.tabgrupo').addClass('active');
            $('.tabs-content .content.tabgrupo').addClass('active');
            window.onload = function () {
            if (location.hash) {
                window.scrollTo(0, 0);
            }
            };
        }
        });
    </script>
    <script>
        $('#slider').foundation({
          orbit: {
               animation: 'fade',
               timer_speed: 5000,
               pause_on_hover: false,
               animation_speed: 500,
               navigation_arrows: true,
               slide_number: false,
               bullets: false
             }
        });
      $(document).foundation();
        var doc = document.documentElement;
        doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
    <script>
        $(document).ready(function(){
            setTimeout(function(){
                $('.alert-box').fadeOut();}, 7000);
        });
    </script>
  </body>
</html>
