 {% for usuario in colaboradores %}
    <tr>
        <td class="nome">{{ usuario.colaborador.nome }} / {{ usuario.descricao }}</td>
        <td class="nome">{{ usuario.colaborador.email }}</td>
        <td class="nome">
            <ul class="btn-list" id="btn-actions">
                <li><span class="sms-disponivel">{{ usuario.get_credito_disponivel }}</span></li>
                <li class="right"><a  href="#" data-reveal-id="myModal{{ forloop.counter }}addcredito"
                       target=""><i id="addsms"></i></a></li>

            </ul>
        </td>
        <td class="nome">
            <ul class="btn-list" id="btn-actions">
                <li><a href="#" data-reveal-id="myModal{{ forloop.counter }}"
                       target=""><i id="view"></i></a></li>

                <li><a href="{% url 'apps.mensagem.views.deletar_colaborador' usuario.id %}"
                       target=""><i id="remove"></i></a></li>
            </ul>
        </td>
    </tr>
     <div id="myModal{{ forloop.counter }}addcredito" class="reveal-modal small" data-reveal>
        <div id="view-modal">

            <form method="POST" action="{% url 'apps.mensagem.views.adicionar_creditos_colaborador' usuario.colaborador.pk %}">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <input value="{{ request.user.id }}" type="hidden" name="socio"/>
              <input value="{{ usuario.colaborador.id }}" type="hidden" name="colaborador"/>
              <input value="{{ usuario.limite }}" type="hidden" name="limite"/>
              <label>Adicionar SMS:</label>
              <input type="text" name="adicionar" placeholder="Digite apenas números. Ex.: 99" onkeypress='return SomenteNumero(event)'/>

             <div class="btnadd">
               <ul class="button-group">
                 <li><button type="submit" class="button success small">Salvar</button></li>
               </ul>
             </div>
            </form>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
    <div id="myModal{{ forloop.counter }}" class="reveal-modal small" data-reveal>
        <div id="view-modal">
            <h2>{{ usuario.colaborador.nome }}</h2>

            <p><strong>Telefone:</strong>{{ usuario.colaborador.telefone }}</p>

            <p><strong>Profissão:</strong>{{ usuario.colaborador.profissao|default:'' }}</p>

            <p><strong>Empresa:</strong> {{ usuario.colaborador.empresa|default:'' }}</p>

            <p><strong>Endereço:</strong>{{ usuario.colaborador.endereco|default:'' }}</p>

            <p><strong></strong></p>
            <hr>
            <div class="button-bar">
                <ul class="button-group">
                    <li>
                        <a href="{% url 'apps.mensagem.views.deletar_colaborador' usuario.id %}"
                           class="button tiny alert">Deletar</a></li>
                </ul>
            </div>

            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
{% endfor %}
{% if colaboradores.has_next %}
 <script type="text/javascript">
    $("#loader_colaboradores").attr('data-href', '{% url 'apps.mensagem.views.mostrar_colaborador' %}?page={{ colaboradores.next_page_number }}');
</script>
{% else %}
<script type="text/javascript">
    $("#loader_colaboradores").hide();
</script>
{% endif %}