{% for telefone in telefones %}
    <tr>
       <td class="nome"><a href="#" data-reveal-id="myModal{{ forloop.counter }}">{{ telefone.contato.nome }}</a></td>
        <td class="tel"><a href="#" data-reveal-id="myModal{{ forloop.counter }}">{{ telefone.telefone }} {% if telefone.descricao %}<i>({{ telefone.descricao|capfirst }})</i>{% endif %} <br></a></td>
        <td class="acoes">
            <ul class="btn-list" id="btn-actions">
                <li><a href="#" data-reveal-id="myModal{{ forloop.counter }}"
                       target=""><i id="view"></i></a></li>
                <li><a href="{% url 'apps.mensagem.views.editar' telefone.contato.pk %}"
                       target=""><i id="edit"></i></a></li>
            </ul>
        </td>
    </tr>
    <div id="myModal{{ forloop.counter }}" class="reveal-modal small" data-reveal>
        <div id="view-modal">
            <h2>{{ contato.nome }}</h2>

           <p><strong>Telefone:</strong>{% if telefone.descricao %}<i>({{ telefone.descricao|capfirst }})</i>{% endif %} {{ telefone.telefone }} |</p>

            <p><strong>Profissão:</strong>{{ telefone.contato.profissao|default:'' }}</p>

            <p><strong>Empresa:</strong> {{ telefone.contato.empresa|default:'' }}</p>

            <p><strong>Endereço:</strong>{{ telefone.contato.endereco|default:'' }}</p>

            <p><strong></strong></p>
            <hr>
            <div class="button-bar">
                <ul class="button-group">
                    <li><a href="{% url 'apps.mensagem.views.editar' telefone.contato.pk %}" class="button tiny">Editar</a></li>

                </ul>
                <ul class="button-group right">
                  <li><a href="{% url 'apps.mensagem.views.mensagem_direta' telefone.contato.pk %}" class="button tiny success">Enviar mensagem</a></li>

                </ul>
            </div>

            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>

{% endfor %}


{% block extrajs %}
    {% if telefones.has_next %}
         <script type="text/javascript">
            $("#loader_contato_grupo").attr('data-href', "{% url 'apps.mensagem.views.contato_grupo' grupo.id %}?page={{ telefones.next_page_number }}");
        </script>
        {% else %}
        <script type="text/javascript">
            $("#loader_contato_grupo").hide();
        </script>
    {% endif %}
{% endblock %}