{% for contato in contatos %}
    <tr>
        <td class="nome"><a href="javascript:;" data-reveal-id="myModalcontato" onclick="load_contato({{ contato.id }})">{{ contato.nome }}</a></td>
        <td class="tel"><a href="javascript:;" data-reveal-id="myModalcontato" onclick="load_contato({{ contato.id }})">
            {% for tel in contato.telefone_set.all %} {{ tel.telefone }}
                {% if tel.descricao %}<i>({{ tel.descricao|capfirst }})</i>{% endif %} <br> {% endfor %}</a></td>
        <td class="acoes">
            <ul class="btn-list" id="btn-actions">
                <li><a href="javascript:;" data-reveal-id="myModalcontato" onclick="load_contato({{ contato.id }})" 
                       target=""><i id="view"></i></a></li>
                <li><a href="{% url 'apps.mensagem.views.editar' contato.id %}"
                       target=""><i id="edit"></i></a></li>
                <li><a href="{% url 'apps.mensagem.views.deletar_contato' contato.id %}"
                       target=""><i id="remove"></i></a></li>
            </ul>
        </td>
    </tr>

{% endfor %}

<script type="text/javascript">
    function load_contato(id){
        $.ajax({
            type: "GET",
            url: "/load-contato/"+id+"/",
            success: function(atualiza){
                $("#view-modal").html(atualiza);
                $('#myModalcontato').foundation('reveal', 'open');
            }
        });
    }
</script>

 {% if contatos.has_next %}
 <script type="text/javascript">
    $("#loader_contatos").attr('data-href', '{% url 'apps.mensagem.views.mostrar_contato' %}?page={{ contatos.next_page_number }}');
</script>
{% else %}
<script type="text/javascript">
    $("#loader_contatos").hide();
</script>
{% endif %}
<!-- <a href="javascript:;" onclick="" class="button tiny alert large-12">Mais contatos ⬇︎</a> -->
