<footer>
    <div class="footer hide-for-small">
        <div class="row">
            <div class="large-2 medium-3 small-12 columns">
                <a href="{% url 'home' %}"><h1 class="logo"><img src="{{ MEDIA_URL }}img/komit.svg" /></h1></a>
            </div>
            <div class="large-10 medium-10 small-12 columns">
                <ul class="menu-footer">
                    <li class="home"><a href="{% url 'home' %}"><i class="icon-home icon-white"></i>Inicio</a></li>
            <li {% if request.path == '/quem-somos/' %}class="active"{% endif %}><a href="/quem-somos/">Quem Somos</a></li>
            <li {% if request.path == '/solucoes/' %}class="active"{% endif %}><a href="{% url 'solucoes' %}">Soluções</a></li>
            <li {% if request.path == '/como-funciona/' %}class="active"{% endif %}><a href="/como-funciona/">Como funciona</a></li>
{#            <li {% if request.path == '/blog/' %}class="active"{% endif %}><a href="{% url 'blog' %}">Blog</a></li>#}
            <li {% if request.path == '/contato/' %}class="active"{% endif %}><a href="{% url 'contato' %}">Contato</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="row">
            <div class="large-4 medium-4 small-12 columns">
                <p>2014 © Copyright Komit. Todos os direitos reservados</p>
            </div>
            <div class="large-8 medium-8 small-12 columns">
                 <p class="right">
                            Av José dos Santos e Silva, 1769
                            Teresina, Piaui |
                            CEP: 64001-300 |
                            Telefone: (86) 3305 3323 |
                            E-mail: <a href="mailto:#">contato@komit.com.br</a><br>
                          </p>
            </div>
        </div>
    </div>
</footer>
{#  <footer>#}
{#    <div class="row">#}
{#      <div class="large-12  medium-12 columns">#}
{#        <div id="footer">#}
{#          <div class="row">#}
{#            <div class="large-4  medium-4  medium-4 columns">#}
{#              <section class="facebook">#}
{#                <h4>Acompanhe-nos no Facebook</h4>#}
{#                <div class="excerpt">#}
{#                  <p>Curta nossa página no Facebook, e acompanhe nossas novidades, sorteios e promoções.</p>#}
{#                </div>#}
{#                <button class="btn btn-facebook btn-large"><i class="ico-facebook"></i><span class="btn-divider"></span> Siga-nos você também</button>#}
{#              </section>#}
{#            </div>#}
{##}
{#            <div class="large-4  medium-4  medium-4 columns">#}
{#              <section class="twitter">#}
{#                <h4>Twitter <a href="http://twitter.com/komit" target="blank" title="Siga nosso twitter">@komit</a></h4>#}
{#                <div class="tl">#}
{#                  <div class="tl-item">#}
{#                    <div class="tl-msg"><span class="tl-user"><a href="#">@Aenean</a></span><p>lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus.</p></div>#}
{#                    <div class="tl-now"><span class="tl-til">2 minutos a atrás</span></div>#}
{#                  </div>#}
{#                  <div class="tl-item">#}
{#                    <div class="tl-msg"><span class="tl-user"><a href="#">@Aenean</a></span><p>lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus.</p></div>#}
{#                    <div class="tl-now"><span class="tl-til">2 minutos a atrás</span></div>#}
{#                  </div>#}
{#                  <div class="tl-item">#}
{#                    <div class="tl-msg"><span class="tl-user"><a href="#">@Aenean</a></span><p>lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus.</p></div>#}
{#                    <div class="tl-now"><span class="tl-til">2 minutos a atrás</span></div>#}
{#                  </div>#}
{##}
{##}
{##}
{##}
{#                </div>#}
{#              </section>#}
{#            </div>#}
{##}
{#            <div class="large-3  medium-3  columns">#}
{#                <a href="{% url 'home' %}"><h1 class="logo"><img src="{{ MEDIA_URL }}img/komit.svg" /></h1></a>#}
{#            </div>#}
{##}
{#              <div class="large-9  medium-9 columns">#}
{#                <section class="contact">#}
{#                          <address class="right">#}
{#                            Av José dos Santos e Silva, 1769#}
{#                            Teresina, Piaui<br>#}
{#                            <abbr title="CEP">CEP</abbr> 64001-300#}
{#                            <abbr title="Phone">Telefone</abbr> (86) 3305 3323#}
{#                            <abbr title="Email">E-mail</abbr> <a href="mailto:#">contato@komit.com.br</a><br>#}
{#                          </address>#}
{#                        </section>#}
{#            </div>#}
{#          </div>#}
{##}
{#        </div>#}
{##}
{#      </div>#}
{#    </div>#}
{#  </footer>#}