{% for grupo in grupos %}
    <tr>
        <td class="nome">{{ grupo.nome }}</td>
        <td class="acoes">
            <ul class="btn-list" id="btn-actions">
                <li><a href="{% url 'contato_grupo' grupo.id %}"
                       target=""><i id="view"></i></a></li>
                <li><a href="{% url 'apps.mensagem.views.editar_grupo' grupo.id %}"
                       target=""><i id="edit"></i></a></li>
                <li><a href="{% url 'apps.mensagem.views.deletar_grupo' grupo.id %}"
                       target=""><i id="remove"></i></a></li>
            </ul>
        </td>
    </tr>
{% endfor %}
{% if grupos.has_next %}
 <script type="text/javascript">
    $("#loader_grupos").attr('data-href', '{% url 'apps.mensagem.views.mostrar_grupo' %}?page={{ grupos.next_page_number }}');
</script>
{% else %}
<script type="text/javascript">
    $("#loader_grupos").hide();
</script>
{% endif %}