<header>
  <div id="line-header"></div>

  <div class="row">
    <div class="large-3 medium-3 columns">
      <a href="{% url 'home' %}"><h1 class="logo"><img src="{{ MEDIA_URL }}img/komit.svg" /></h1></a>
    </div>
    {% if user.is_authenticated %}
    <div class="large-6  medium-6 columns">
        <div class="list-header">
            <ul class="inline-list right">
              <li>Bem vindo <span>{{ request.user.nome|capfirst }}</span></li>
              <li>
                <a href="{% url 'apps.mensagem.views.login' %}" class="button split small success">Minha conta<span data-dropdown="drop"></span></a>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="{% url 'contatos' %}">Meus Contatos</a></li>
                  <li><a href="{% url 'editar-perfil' %}">Editar Perfil</a></li>
                  <li><a href="{% url 'apps.mensagem.views.sair' %}">Sair</a></li>
                </ul>
              </li>
            </ul>
        </div>
    </div>
    {% else %}
    <div class="large-6  medium-6 columns">
        <div class="list-header">
             <form method="post" action="{% url 'apps.mensagem.views.login' %}">{% csrf_token %}
                <ul class="inline-list login right">
                  <li>
                      <input class="eleven" type="email" name="email" placeholder="Email">
                  </li>

                  <li>
                      <input class="eleven" type="password" name="password" placeholder="password">
                  </li>
                  <li> <button class="button small btnblack" type="submit">LOGIN</button></li>
                </ul>
             </form>
         </div>
        <ul class="inline-list forgott right">
          <li><a id="forgot" data-reveal-id="myModal3" href="/esqueceu-a-senha/">Esqueceu sua senha?</a></li>
        </ul>
    </div>
    {% endif %}
  </div>
</header>

<section id="nav">
  <div class="row">
    <div class="large-12  medium-12 columns">

      <nav class="top-bar" data-topbar="">
        <ul class="title-area">
          <li class="name"> </li>
          <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
        </ul>


        <section class="top-bar-section">
          <ul class="left">
            <li class="home"><a href="{% url 'home' %}"><i class="icon-home icon-white"></i>Inicio</a></li>
            <li {% if request.path == '/quem-somos/' %}class="active"{% endif %}><a href="/quem-somos/">Quem Somos</a></li>
            <li {% if request.path == '/solucoes/' %}class="active"{% endif %}><a href="{% url 'solucoes' %}">Soluções</a></li>
            <li {% if request.path == '/como-funciona/' %}class="active"{% endif %}><a href="/como-funciona/">Como funciona</a></li>
{#            <li {% if request.path == '/blog/' %}class="active"{% endif %}><a href="{% url 'blog' %}">Blog</a></li>#}
            <li {% if request.path == '/contato/' %}class="active"{% endif %}><a href="{% url 'contato' %}">Contato</a></li>
          </ul>
        {% if not user.is_authenticated %}
          <ul class="right">
            <li class="cadastre"><a href="{% url 'registrar' %}">Cadastre-se</a></li>
          </ul>
        {% endif %}
        </section>
      </nav>



    </div>

  </div>
</section>
