{% for historico in historico_mensagem %}
    <tr>
        <td class="nome">{{ historico.contato_destinatario }}</td>
        <td class="msg">{{ historico.msg.msg }}</td>
        <td class="data">{{ historico.dt_criacao|date:"d/m/Y - H:m" }}</td>
        <td class="acoes text-center">
            <ul class="btn-list" id="btn-actions">
                {% if historico.status == '1' %}
                <li><i id="pendent"></i></li>
                {% elif historico.status == '2' %}
                <li><i id="success"></i></li>
                {% elif historico.status == '3' %}
                <li><i id="fail"></i></li>
                {% endif %}
            </ul>
        </td>
    </tr>
{% endfor %}
 {% if historico_mensagem.has_next %}
<script type="text/javascript">
    $("#loader_historico_sms").attr('data-href', '{% url 'historico_sms' %}?page={{ historico_mensagem.next_page_number }}');
</script>
{% else %}
<script type="text/javascript">
    $("#loader_historico_sms").hide();
</script>
{% endif %}