{% for historico in historico_credito %}
    <tr>
        <td>{{ historico.pacote_mensagem.nome }}</td>
        <td>{{ historico.quantidade }}</td>
        <td>{{ historico.valor_pacote }}</td>
        <td>{{ historico.dt_criacao|date:"d/m/Y - H:m" }}</td>
        <td>{{ historico.valor_total_compra }}</td>
        <td class="acoes text-center">
            <ul class="btn-list" id="btn-actions">
                {% if historico.status %}
                <li><i id="sucess"></i></li>
                {% else %}
                <li><i id="fail"></i></li>
                {% endif %}
            </ul>
        </td>
    </tr>
{% endfor %}
 {% if historico_credito.has_next %}
<script type="text/javascript">
    $("#loader_historico_credito").attr('data-href', '{% url 'historico_credito' %}?page={{ historico_credito.next_page_number }}');
</script>
{% else %}
<script type="text/javascript">
    $("#loader_historico_credito").hide();
</script>
{% endif %}