<h2>{{ contato.nome }}</h2>

<p><strong>Telefone:</strong>{% for tel in contato.telefone_set.all %}
    {% if tel.descricao %}<i>({{ tel.descricao|capfirst }})</i>{% endif %} {{ tel.telefone }}
    | {% endfor %}</p>

<p><strong>Profissão:</strong>{{ contato.profissao|default:'' }}</p>

<p><strong>Empresa:</strong> {{ contato.empresa|default:'' }}</p>

<p><strong>Endereço:</strong>{{ contato.endereco|default:'' }}</p>

<p><strong></strong></p>
<hr>
<div class="button-bar">
    <ul class="button-group">
        <li><a href="{% url 'apps.mensagem.views.editar' contato.id %}" class="button tiny">Editar</a></li>
        <li>
            <a href="{% url 'apps.mensagem.views.deletar_contato' contato.id %}"
               class="button tiny alert">Deletar</a></li>
    </ul>
    <ul class="button-group right">
        <li><a href="{% url 'apps.mensagem.views.mensagem_direta' contato.pk %}"
               class="button tiny success">Enviar mensagem</a></li>

    </ul>
</div>

<a class="close-reveal-modal">&#215;</a>