<aside class="large-3  medium-3 columns">
    <div class="bg-panel">


        <h4><a href="{% url 'apps.mensagem.views.login' %}">Minha Conta</a></h4>
        <ul class="side-nav">
            <li><a href="{% url 'apps.mensagem.views.adicionar_colaborador' %}">Adicionar colaborador</a></li>
            <li><a href="{% url 'adicionar_contato' %}">Adicionar contato</a></li>
            <li><a href="{% url 'adicionar_grupo' %}">Adicionar grupo</a></li>
            <br>
            <li><a href="{% url 'apps.mensagem.views.mostrar_colaborador' %}">Colaboradores
                ({{ colaborador_contador.num_colaborador }})</a></li>
            <li><a href="{% url 'apps.mensagem.views.mostrar_contato' %}">Contatos ({{ contatos_contador.num_contatos }})</a>
            </li>
            <li><a href="{% url 'apps.mensagem.views.mostrar_grupo' %}">Grupos ({{ grupos_contador.num_grupos }})</a>
            </li>
            <br>
            <li><a href="{% url 'apps.mensagem.views.enviar' %}">Enviar mensagem</a></li>
            <li><a href="{% url 'apps.mensagem.views.importar' %}">Importar contatos</a></li>
            <li><a href="{% url 'historico_sms' %}">Histórico de SMS</a></li>
            <li><a href="{% url 'historico_credito' %}">Histórico de créditos</a></li>
        </ul>
        <hr>
        <div class="info">
            <h6>Quantidade de sms:</h6>

            <p>Disponivel: <span>{{ request.user.creditos }}</span></p>

            <p>Enviadas: <span>{{ usuario_mensagem.num_mensagem }}</span></p>
        </div>
        <hr>
        <div class="btncompra">
            <a href="{% url 'comprar_credito' %}" class="button success small">Comprar mais créditos</a>
        </div>
    </div>
</aside>