{% extends 'componentes/base.html' %}

{% block content %}
<section id="container">
  <section id="contatos">
      <div class="row">
        <div class="large-12  medium-12 columns bg-panel">
          <h3>Entre em contato conosco</h3>
          <div class="row">
            <div class="large-6  medium-6 columns">
              <form class="contatos" action="{% url "apps.website.views.contato" %}" method="post">{% csrf_token %}
                <hr>
                <label class="">Nome</label>
                <input class="" name="nome" maxlength="60" type="text" value="" placeholder="seu nome">
                <label class="">Email</label>
                <input class="" name="email" maxlength="100" type="email" value="" placeholder="seu email">
                <label class="">Celular</label>
                <input class="" name="celular" maxlength="100" type="text" value="" placeholder="seu número">
                <label class="">Assunto:</label>
                <select name="assunto" id="assunto">
                   <option>Selecione</option>
                   <option>Dúvidas</option>
                   <option>Solicitar Proposta</option>
                   <option>Suporte</option>
                   <option>Comercial</option>
                </select><br><br>
                <label class="">Mensagem</label>
                <textarea class="" name="mensagem" id="textarea" placeholder="deixe sua mensagem aqui" cols="1000" rows="10" style="height:70px"></textarea>
                <button class="button success" type="submit" >Enviar</button>

              </form>
            </div>

            <div class="large-6  medium-6 columns mobile-off">
              <div class="google-maps">
                <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=128bits&amp;sll=-5.093285,-42.809472&amp;sspn=0.010216,0.016501&amp;ie=UTF8&amp;hq=128bits&amp;hnear=&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=17410717247238941625&amp;ll=-5.095176,-42.807541&amp;output=embed"></iframe>
{#                  <iframe width="445" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=S%C3%A3o+Jo%C3%A3o+do+Piau%C3%AD+-+Piau%C3%AD&amp;aq=0&amp;oq=s%C3%A3o+jo%C3%A3o+do+piau%C3%AD&amp;sll=-5.215868,-42.801792&amp;sspn=1.512528,2.705383&amp;ie=UTF8&amp;hq=&amp;hnear=S%C3%A3o+Jo%C3%A3o+do+Piau%C3%AD+-+Piau%C3%AD&amp;ll=-8.360763,-42.250985&amp;spn=0.002935,0.005284&amp;t=h&amp;z=14&amp;output=embed"></iframe>#}
              </div>

              <section id="contact-info">
                <div class="marker">
                 <hr>
                 <p><strong>Endereço</strong></p>
                 <address>
                     Av José dos Santos e Silva, 1769<br>
                     Teresina, Piauí<br>
                     Telefone: (86) 3305 3323
                 </address>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>
</section>

{% endblock %}