{% extends 'componentes/base.html' %}
{% block content %}

    <section id="slide">
        <div data-orbit id="slider">
            {% for slide in slides %}
                <img src="{{ slide.get_foto_slide }}"/>
            {% endfor %}
        </div>
    </section>

    <section id="container">
        <section id="soluctions">
            <div class="row">
                <div class="large-12 medium-12 columns ">
                    <div class="thead">
                        <h3>Conheça soluções para sua empresa</h3>
                        <span class="line"></span>

                        <p class="lead">Conheça nossas soluções e obtenha resultados maiores do que você imagina.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for solucao in solucoes %}
                    <div class="large-4 medium-4 columns item">
                        <div class="row">
                            <div class="large-2  medium-2  columns">
                                <div class="{{ solucao.icone }}"></div>
                            </div>

                            <div class="large-10 medium-10 columns">
                                <div class="title">
                                    <h5><a href="{% url 'solucoes' %}#{{ solucao.slug }}"
                                           title="{{ solucao.nome }}"> {{ solucao.nome }} </a></h5>

                                    <p>{{ solucao.chapeu|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="large-8 medium-8 columns">
                    <div class="panel">
                        <div class="row">
                            <div class="large-9 medium-9 columns">
                                <h3>Ganhe 20 créditos</h3>

                                <p>Comece a usar agora o Komit gratuitamente e envie SMS para todo o Brasil!</p>
                            </div>
                            <div class="large-3 medium-3 columns">
                                <a class="button  btnblack" href="{% url 'registrar' %}">Criar conta grátis</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="testimonials">
            <div class="row">
                <div class="large-12 medium-12 columns">
                {% if opnioes %}
                    <i class="ico-aspas"></i>
                    <ul class="" data-orbit id="">
                        {% for opniao in opnioes %}
                            <li data-orbit-slide="headline-{{ forloop.counter }}">
                                <div class="large-8 medium-8 columns">
                                    <blockquote>
                                        <p>{{ opniao.opniao|safe }}</p>
                                        <br>
                                        <small>{{ opniao.autor }} <cite>{{ opniao.cargo }}</cite></small>
                                    </blockquote>
                                </div>
                                <div class="large-4 medium-4 columns">
                                    <img src="{{ MEDIA_URL }}{{ opniao.logo }}" alt="">
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </div>
            </div>
        </section>
    </section>

{% endblock %}
{% block modal %}
    <div id="myModal3" class="reveal-modal tiny" data-reveal>
        <div id="view-modal">
            <h4>Esqueceu sua senha?</h4>
            <label>Digite seu email cadastrado para receber sua senha:</label>

            <form method="POST" action="esqueceu-a-senha/">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <input type="email" name="email" placeholder="Digite seu email" required/>
                {% if form.email.errors %}
                    <small class="error">{{ form.email.errors }}</small>{% endif %}
                <div class="btnadd">
                    <ul class="button-group">
                        <li>
                            <button type="submit" class="button success small">Enviar</button>
                        </li>
                    </ul>

                </div>
            </form>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
{% endblock %}