{% extends 'componentes/base.html' %}

{% block content %}
<section id="container">
  <section id="main">
    <div class="row">
      <div class="large-9  medium-9 columns">
          <div class="row">
            <div class="large-12  medium-12 columns">
              <div class="articleConteudo">
                <article id="bg-art">
                 

                  <div id="articleTitle">
                      <h3>{{ noticia.titulo }}</h3>
                  </div>



                  <div class="article_recommend mobile-off">
                    <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-action="recommend" data-send="false" data-layout="button_count" data-show-faces="false" fb-xfbml-state="rendered"><span style="height: 20px; width: 120px;"><iframe id="f20c6cf6a" name="ffbc47b74" scrolling="no" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?action=recommend&amp;api_key=&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D27%23cb%3Df2ba210974%26domain%3Dg1.globo.com%26origin%3Dhttp%253A%252F%252Fg1.globo.com%252Ff3dd79e7b%26relation%3Dparent.parent&amp;colorscheme=light&amp;extended_social_context=false&amp;href=http%3A%2F%2Fg1.globo.com%2Fsc%2Fsanta-catarina%2Fnoticia%2F2013%2F09%2Fvideo-mostra-momento-do-acidente-que-matou-avos-e-neto-em-blumenau.html&amp;layout=button_count&amp;locale=pt_BR&amp;node_type=link&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=130" style="border: none; overflow: hidden; height: 20px; width: 120px;"></iframe></span></div>
                  </div>

                  <div class="fotodestaque">
                   <img src="{{ noticia.get_foto_interna}}" alt="placeholder+image">
                  </div>

                  <div class="articleTexto">
                        {{ noticia.texto|safe }}
                  </div>

                 

                 
                </article>
              </div>

              <hr>
            </div> 
          </div>




    </div>
       <aside class="large-3  medium-3 columns">
        <h4 class="titleheader">Últimas notícias</h4>
        <ul class="last-news">
         {% for ultima in ultimas %}
         <li>
            <a href="{{ ultima.get_absolute_url }}">
              <h5>{{ ultima.titulo|truncatewords_html:6 }}</h5>
              {{ ultima.texto|truncatewords_html:10|safe }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </aside>
  </section>
</section>
{% endblock %}