{% extends 'componentes/base.html' %}

{% block content %}
<section id="container">
  <section id="main">
    <div class="row">
      <div class="large-9  medium-9 columns">
       <ul class="list-news">
         {% for noticia in noticias %}
         <li class="item-news">
           <div class="row">
             <div class="large-4  medium-4 columns">
               <a href="{{ noticia.get_absolute_url }}"><img src="{{ noticia.get_foto_externa }}" /></a>
             </div>

             <div class="large-8  medium-8 columns">
               <h4><a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a></h4>
               <p class="text">{{ noticia.texto|truncatewords_html:20|safe }}</p>

                <a href="{{ noticia.get_absolute_url }}" class="button tiny alert">leia mais</a>
             </div>
           </div>
         </li>

         {% endfor %}
       
       </ul>

       <ul class="pagination">
         {% if noticias.has_previous %}
            <li class="arrow"><a href="?q={{ queryb }}&page={{ noticias.previous_page_number }}">◀</a></li>
         {% else %}
             <li class="arrow unavailable"><a href="">◀</a></li>
        {% endif %}
        {% for num in noticias.paginator.page_range %}
        {% if num <= noticias.number|add:2 and num >= noticias.number|add:-2 %}
            <li><a href="?q={{ queryb }}&page={{ num }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}
        {% if noticias.has_next %}
            <li class="arrow"><a href="?q={{ queryb }}&page={{ noticias.next_page_number }}">▶</a></li>
        {% else %}
            <li class="arrow unavailable"><a href="">▶</a></li>
        {% endif %}
       </ul>
        
      </div>

       <aside class="large-3  medium-3 columns">
        <h4 class="titleheader">Últimas notícias</h4>
        <ul class="last-news">
         {% for ultima in ultimas %}
         <li>
            <a href="{{ ultima.get_absolute_url }}">
              <h5>{{ ultima.titulo|truncatewords_html:6 }}</h5>
              {{ ultima.texto|truncatewords_html:10|safe }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </aside>
    </div>
  </section>
</section>
{% endblock %}