{% extends 'componentes/base.html' %}
{% block content %}

    <section id="container">
        <div class="row">
            <div class="large-9  medium-9 columns">
                <div class="row">
                    <div class="large-12  medium-12 columns">
                        <nav class="breadcrumbs">
                            <a href="{% url 'home' %}">Home</a>
                            <a class="current" href="{{ request.path }}">Registrar usuário</a>
                        </nav>
                    </div>
                </div>
                {% include 'componentes/mensagem-confirmacao.html' %}
                <div>
                    <div class="bg-panel">
                        <h4 class="titleheader">Criar Conta</h4>
                        <div class="row">
                            <div class="large-12  medium-12 columns">
                                <form method="POST" action="{% url 'registrar' %}">{% csrf_token %}
                                    {{ form_grupo.non_field_errors }}
                                    <div class="row">
                                        <div class="large-12  medium-12 columns">
                                            <label {% if form.name.errors %} class="error" {% endif %}>Nome: </label>
                                            <input {% if form.name.errors %} class="error" {% endif %} type="text" name="nome"/>
                                            {% if form.name.errors %}<small class="error">{{ form.email.errors.as_text }}</small>{% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-6  medium-6 columns">
                                            <label {% if form.telefone.errors %} class="error" {% endif %}>Telefone:</label>
                                            <input type="tel" name="telefone" {% if form.telefone.errors %} class="error" {% endif %}/>
                                            {% if form.telefone.errors %}<small class="error">{{ form.telefone.errors.as_text }}</small>{% endif %}
                                        </div>

                                        <div class="large-6  medium-6 columns">
                                            <label>Empresa</label>
                                            <input type="text" name="empresa"/>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="large-12  medium-12 columns">
                                            <label {% if form.email.errors %} class="error" {% endif %}>Email: </label>
                                            <input {% if form.email.errors %} class="error" {% endif %} type="email" name="email" required/>
                                            {% if form.email.errors %}<small class="error">{{ form.email.errors.as_text }}</small>{% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-6  medium-6 columns">
                                            <label {% if form.password1.errors %} class="error" {% endif %}>Senha:</label>
                                            <input type="password" {% if form.password1.errors %} class="error" {% endif %} name="password1"/>
                                            {% if form.password1.errors %}<small class="error">{{ form.password1.errors.as_text }}</small>{% endif %}
                                        </div>
                                        <div class="large-6  medium-6 columns">
                                            <label {% if form.password2.errors %} class="error" {% endif %}>Confirme sua senha:</label>
                                            <input type="password" {% if form.password2.errors %} class="error" {% endif %} name="password2"/>
                                            {% if form.password2.errors %}<small class="error">{{ form.password2.errors.as_text }}</small>{% endif %}
                                        </div>
                                    </div>
                                        <div class="btnadd">
                                            <ul class="button-group">
                                                <li>
                                                    <button type="submit" class="button success small">Salvar</button>
                                                </li>
                                            </ul>

                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
{% block extrajs %}
    <script src="{{ MEDIA_URL }}js/fast.js"></script>
{% endblock %}