{% extends 'componentes/base.html' %}

{% block content %}
<section id="container">

  <section id="navfixo">
    <div class="row">
      <div class="large-12  medium-12 columns">
        <div>
          <ul class="nav">                    
            <li data-magellan-arrival="aproduct1"><a id="icon_solucoes" href="#saude" title="Saúde"><i class="ico-saude ico-large"></i></a></li>
            <li data-magellan-arrival="aproduct2"><a id="icon_solucoes" href="#entretenimento" title="Entretenimento"><i class="ico-entertainment ico-large"></i></a></li>
            <li data-magellan-arrival="aproduct3"><a id="icon_solucoes" href="#governo" title="Governo"><i class="ico-government ico-large"></i></a></li>
            <li data-magellan-arrival="aproduct4"><a id="icon_solucoes" href="#educacao" title="Educação"><i class="ico-education ico-large"></i></a></li>
            <li data-magellan-arrival="aproduct5"><a id="icon_solucoes" href="#varejo" title="Varejo"><i class="ico-retail ico-large"></i></a></li>
            <li data-magellan-arrival="aproduct6"><a id="icon_solucoes" href="#central-sms" title="Central SMS"><i class="ico-sms ico-large"></i></a></li>
            <li data-magellan-arrival="aproduct7"><a id="icon_solucoes" href="#financeiro" title="Financeiro"><i class="ico-financial ico-large"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="products">
    {% for solucao in solucoes %}
    <article class="product-item" id="{{ solucao.slug }}">
      <div class="row">
        <div class="large-12  medium-12 columns">
          <div class="tbody">
            <div class="row">
              <div class="large-10  medium-10 columns">
                <div class="title">

                  <h3>{{ solucao.nome }}</h3>
                  <p>{{ solucao.descricao|safe }}</p>
                </div>
              </div>
              <div class="large-2  medium-2 columns">
                <div class="img-cell mobon">
                    <i class="{{ solucao.icone }} ico-large"></i>
{#                  <img src="{{ MEDIA_URL }}{{ solucao.primeira_foto }}" alt="{{ solucao.nome }}" title="{{ solucao.nome }}">#}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </article>
    {% endfor %}

  </section>
</section>
{% endblock %}
