{% extends "componentes/base.html" %}

{% block title %}
    {{ flatpage.title }}
{% endblock %}

{% block content %}
<section id="container">
  <section id="main">
    <div class="row">
      <div class="large-12  medium-12 columns">
        <div class="bg-panel">
            <div class="row">
            {{ flatpage.content }}
            </div>
        </div>
      </div>
    </div>
  </section>
</section>

{% endblock %}